<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.IndexDiagnosisOtherIcdMapper">
<select id="findIndexDiagnosisOtherIcdByUniqueId"  resultType="com.clinical.model.cluster.IndexDiagnosisOtherIcd">
       SELECT * FROM index_diagnosis_other_icd WHERE unique_id=#{unique_id}
</select>

 <insert id="saveIndexDiagnosisOtherIcd"  parameterType="com.clinical.model.cluster.IndexDiagnosisOtherIcd">
  insert into index_diagnosis_other_icd(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       other_id,
       diagnosis_icdcode,
       diagnosis_icddesc,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{otherId},
       #{diagnosisIcdcode},
       #{diagnosisIcddesc},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateIndexDiagnosisOtherIcd"  parameterType="com.clinical.model.cluster.IndexDiagnosisOtherIcd">
      update   index_diagnosis_other_icd
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    other_id = #{otherId},  
    diagnosis_icdcode = #{diagnosisIcdcode},  
    diagnosis_icddesc = #{diagnosisIcddesc},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>