<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.PathologicalMapper">
<select id="findPathologicalByUniqueId"  resultType="com.clinical.model.cluster.Pathological">
       SELECT * FROM pathological WHERE unique_id=#{unique_id}
</select>

 <insert id="savePathological"  parameterType="com.clinical.model.cluster.Pathological">
  insert into pathological(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       case_number,
       inspect_time,
       reprot_time,
       specimen_name,
       tumor_location,
       tumor_size,
       pathological_type,
       invading_capsule,
       if_artery,
       if_invasion_nerve,
       tumor_involved,
       malignant_degree,
       lymph_node_total,
       transfer_number,
       if_transfer,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{caseNumber},
       #{inspectTime},
       #{reprotTime},
       #{specimenName},
       #{tumorLocation},
       #{tumorSize},
       #{pathologicalType},
       #{invadingCapsule},
       #{ifArtery},
       #{ifInvasionNerve},
       #{tumorInvolved},
       #{malignantDegree},
       #{lymphNodeTotal},
       #{transferNumber},
       #{ifTransfer},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updatePathological"  parameterType="com.clinical.model.cluster.Pathological">
      update   pathological
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    case_number = #{caseNumber},  
    inspect_time = #{inspectTime},  
    reprot_time = #{reprotTime},  
    specimen_name = #{specimenName},  
    tumor_location = #{tumorLocation},  
    tumor_size = #{tumorSize},  
    pathological_type = #{pathologicalType},  
    invading_capsule = #{invadingCapsule},  
    if_artery = #{ifArtery},  
    if_invasion_nerve = #{ifInvasionNerve},  
    tumor_involved = #{tumorInvolved},  
    malignant_degree = #{malignantDegree},  
    lymph_node_total = #{lymphNodeTotal},  
    transfer_number = #{transferNumber},  
    if_transfer = #{ifTransfer},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>