<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.DrugOrderMapper">
<select id="findDrugOrderByUniqueId"  resultType="com.clinical.model.cluster.DrugOrder">
       SELECT * FROM drug_order WHERE unique_id=#{unique_id}
</select>

 <insert id="saveDrugOrder"  parameterType="com.clinical.model.cluster.DrugOrder" useGeneratedKeys="true" keyProperty="id">
  insert into drug_order(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       order_no,
       order_sub_no,
       order_class,
       order_text,
       order_type,
       order_quantity,
       order_unit,
       dosage,
       dosage_units,
       drug_name,
       main_ingredient,
       brand_name,
       drug_form,
       drug_specs,
       drug_specs_unit,
       drug_package_unit,
       administration,
       duration,
       duration_units,
       frequency,
       freq_interval,
       freq_interval_unit,
       freq_detail,
       perform_schedule,
       ordering_dept,
       ordering_doctor,
       enter_date_time,
       order_stop_doctor,
       stop_order_date_time,
       order_cancel_doctor,
       order_cancel_date_time,
       order_status,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{orderNo},
       #{orderSubNo},
       #{orderClass},
       #{orderText},
       #{orderType},
       #{orderQuantity},
       #{orderUnit},
       #{dosage},
       #{dosageUnits},
       #{drugName},
       #{mainIngredient},
       #{brandName},
       #{drugForm},
       #{drugSpecs},
       #{drugSpecsUnit},
       #{drugPackageUnit},
       #{administration},
       #{duration},
       #{durationUnits},
       #{frequency},
       #{freqInterval},
       #{freqIntervalUnit},
       #{freqDetail},
       #{performSchedule},
       #{orderingDept},
       #{orderingDoctor},
       #{enterDateTime},
       #{orderStopDoctor},
       #{stopOrderDateTime},
       #{orderCancelDoctor},
       #{orderCancelDateTime},
       #{orderStatus},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateDrugOrder"  parameterType="com.clinical.model.cluster.DrugOrder">
      update   drug_order
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    order_no = #{orderNo},  
    order_sub_no = #{orderSubNo},  
    order_class = #{orderClass},  
    order_text = #{orderText},  
    order_type = #{orderType},  
    order_quantity = #{orderQuantity},  
    order_unit = #{orderUnit},  
    dosage = #{dosage},  
    dosage_units = #{dosageUnits},  
    drug_name = #{drugName},  
    main_ingredient = #{mainIngredient},  
    brand_name = #{brandName},  
    drug_form = #{drugForm},  
    drug_specs = #{drugSpecs},  
    drug_specs_unit = #{drugSpecsUnit},  
    drug_package_unit = #{drugPackageUnit},  
    administration = #{administration},  
    duration = #{duration},  
    duration_units = #{durationUnits},  
    frequency = #{frequency},  
    freq_interval = #{freqInterval},  
    freq_interval_unit = #{freqIntervalUnit},  
    freq_detail = #{freqDetail},  
    perform_schedule = #{performSchedule},  
    ordering_dept = #{orderingDept},  
    ordering_doctor = #{orderingDoctor},  
    enter_date_time = #{enterDateTime},  
    order_stop_doctor = #{orderStopDoctor},  
    stop_order_date_time = #{stopOrderDateTime},  
    order_cancel_doctor = #{orderCancelDoctor},  
    order_cancel_date_time = #{orderCancelDateTime},  
    order_status = #{orderStatus},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>