<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.OutpRecordMapper">
<select id="findOutpRecordByUniqueId"  resultType="com.clinical.model.cluster.OutpRecord">
       SELECT * FROM outp_record WHERE unique_id=#{unique_id}
</select>

 <insert id="saveOutpRecord"  parameterType="com.clinical.model.cluster.OutpRecord" useGeneratedKeys="true" keyProperty="id">
  insert into outp_record(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       admission_number,
       outpatient_diagnosis,
       tpatno,
       visit_type,
       age,
       department_name,
       inpatient_area,
       room_no,
       bed_no,
       record_status,
       hy_present,
       hy_pats,
       family_history,
       personal_history,
       menstrual_history,
       fertile_history,
       reproductive_history,
       allergy_history,
       exposure_history,
       mother_fertile_history,
       feed_history,
       growth_history,
       physical_exam,
       chief_complaint,
       supplementary_exam,
       hy_marry_child,
       treatment,
       order_content,
       record_time,
       comment,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{admissionNumber},
       #{outpatientDiagnosis},
       #{tpatno},
       #{visitType},
       #{age},
       #{departmentName},
       #{inpatientArea},
       #{roomNo},
       #{bedNo},
       #{recordStatus},
       #{hyPresent},
       #{hyPats},
       #{familyHistory},
       #{personalHistory},
       #{menstrualHistory},
       #{fertileHistory},
       #{reproductiveHistory},
       #{allergyHistory},
       #{exposureHistory},
       #{motherFertileHistory},
       #{feedHistory},
       #{growthHistory},
       #{physicalExam},
       #{chiefComplaint},
       #{supplementaryExam},
       #{hyMarryChild},
       #{treatment},
       #{orderContent},
       #{recordTime},
       #{comment},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateOutpRecord"  parameterType="com.clinical.model.cluster.OutpRecord">
      update   outp_record
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    admission_number = #{admissionNumber},  
    outpatient_diagnosis = #{outpatientDiagnosis},  
    tpatno = #{tpatno},  
    visit_type = #{visitType},  
    age = #{age},  
    department_name = #{departmentName},  
    inpatient_area = #{inpatientArea},  
    room_no = #{roomNo},  
    bed_no = #{bedNo},  
    record_status = #{recordStatus},  
    hy_present = #{hyPresent},  
    hy_pats = #{hyPats},  
    family_history = #{familyHistory},  
    personal_history = #{personalHistory},  
    menstrual_history = #{menstrualHistory},  
    fertile_history = #{fertileHistory},  
    reproductive_history = #{reproductiveHistory},  
    allergy_history = #{allergyHistory},  
    exposure_history = #{exposureHistory},  
    mother_fertile_history = #{motherFertileHistory},  
    feed_history = #{feedHistory},  
    growth_history = #{growthHistory},  
    physical_exam = #{physicalExam},  
    chief_complaint = #{chiefComplaint},  
    supplementary_exam = #{supplementaryExam},  
    hy_marry_child = #{hyMarryChild},  
    treatment = #{treatment},  
    order_content = #{orderContent},  
    record_time = #{recordTime},  
    comment = #{comment},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>