<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.ProcedureRecordMapper">
<select id="findProcedureRecordByUniqueId"  resultType="com.clinical.model.cluster.ProcedureRecord">
       SELECT * FROM procedure_record WHERE unique_id=#{unique_id}
</select>

 <insert id="saveProcedureRecord"  parameterType="com.clinical.model.cluster.ProcedureRecord" useGeneratedKeys="true" keyProperty="id">
  insert into procedure_record(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       room_no,
       bed_no,
       record_status,
       visit_type,
       department_name,
       inpatient_area,
       treatment_major_points,
       treatment_note,
       general_condition,
       management_and_instructions,
       is_successful,
       is_adverse_reaction,
       comment_for_order,
       matters_needing_attention,
       treatment_plan_hereafter,
       admission_number,
       operation_name,
       operation_process,
       record_time,
       doctor_sign,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{roomNo},
       #{bedNo},
       #{recordStatus},
       #{visitType},
       #{departmentName},
       #{inpatientArea},
       #{treatmentMajorPoints},
       #{treatmentNote},
       #{generalCondition},
       #{managementAndInstructions},
       #{isSuccessful},
       #{isAdverseReaction},
       #{commentForOrder},
       #{mattersNeedingAttention},
       #{treatmentPlanHereafter},
       #{admissionNumber},
       #{operationName},
       #{operationProcess},
       #{recordTime},
       #{doctorSign},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateProcedureRecord"  parameterType="com.clinical.model.cluster.ProcedureRecord">
      update   procedure_record
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    room_no = #{roomNo},  
    bed_no = #{bedNo},  
    record_status = #{recordStatus},  
    visit_type = #{visitType},  
    department_name = #{departmentName},  
    inpatient_area = #{inpatientArea},  
    treatment_major_points = #{treatmentMajorPoints},  
    treatment_note = #{treatmentNote},  
    general_condition = #{generalCondition},  
    management_and_instructions = #{managementAndInstructions},  
    is_successful = #{isSuccessful},  
    is_adverse_reaction = #{isAdverseReaction},  
    comment_for_order = #{commentForOrder},  
    matters_needing_attention = #{mattersNeedingAttention},  
    treatment_plan_hereafter = #{treatmentPlanHereafter},  
    admission_number = #{admissionNumber},  
    operation_name = #{operationName},  
    operation_process = #{operationProcess},  
    record_time = #{recordTime},  
    doctor_sign = #{doctorSign},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>