<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.TemOperationRecordMapper">
<select id="findTemOperationRecordByUniqueId"  resultType="com.clinical.model.cluster.TemOperationRecord">
       SELECT * FROM tem_operation_record WHERE unique_id=#{unique_id}
</select>

 <insert id="saveTemOperationRecord"  parameterType="com.clinical.model.cluster.TemOperationRecord" useGeneratedKeys="true" keyProperty="id">
  insert into tem_operation_record(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       room_no,
       bed_no,
       record_status,
       visit_type,
       department_name,
       inpatient_area,
       age,
       admission_number,
       tpatname,
       tpatno,
       surgery_sn,
       rcpt_no,
       operation_topic,
       operation_detail_note,
       surgical_description,
       surgical_findings,
       surgical_accident,
       skin_sterilization_description,
       image_no,
       item_no,
       item_begin_date,
       item_end_date,
       item_code,
       item_name,
       itemspec,
       item_incision_description,
       performed_by,
       bleeding_volume,
       transfusion_volume,
       blood_transfusion_volume,
       autologous_volume_blood,
       intraoperative_volume,
       pre_operative_brief_description,
       sub_order_no,
       printed_rcpt_no,
       administration,
       name_of_surgeon,
       name_1,
       name_2,
       name_nur,
       anesthesia_code,
       anesthesia_method,
       asa_rating,
       operating_room_no,
       operating_room,
       planned_surgery,
       planned_anesthesia,
       surgical_position,
       medication_before_anes,
       medication_at_anes,
       anesthesia_complications,
       anesthesiologist,
       diag_preoperation,
       diag_postoperation,
       surgical_process,
       postoperation_complite,
       postoperative_analgesia,
       postoperative_destination,
       postoperative_visit,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{roomNo},
       #{bedNo},
       #{recordStatus},
       #{visitType},
       #{departmentName},
       #{inpatientArea},
       #{age},
       #{admissionNumber},
       #{tpatname},
       #{tpatno},
       #{surgerySn},
       #{rcptNo},
       #{operationTopic},
       #{operationDetailNote},
       #{surgicalDescription},
       #{surgicalFindings},
       #{surgicalAccident},
       #{skinSterilizationDescription},
       #{imageNo},
       #{itemNo},
       #{itemBeginDate},
       #{itemEndDate},
       #{itemCode},
       #{itemName},
       #{itemspec},
       #{itemIncisionDescription},
       #{performedBy},
       #{bleedingVolume},
       #{transfusionVolume},
       #{bloodTransfusionVolume},
       #{autologousVolumeBlood},
       #{intraoperativeVolume},
       #{preOperativeBriefDescription},
       #{subOrderNo},
       #{printedRcptNo},
       #{administration},
       #{nameOfSurgeon},
       #{name1},
       #{name2},
       #{nameNur},
       #{anesthesiaCode},
       #{anesthesiaMethod},
       #{asaRating},
       #{operatingRoomNo},
       #{operatingRoom},
       #{plannedSurgery},
       #{plannedAnesthesia},
       #{surgicalPosition},
       #{medicationBeforeAnes},
       #{medicationAtAnes},
       #{anesthesiaComplications},
       #{anesthesiologist},
       #{diagPreoperation},
       #{diagPostoperation},
       #{surgicalProcess},
       #{postoperationComplite},
       #{postoperativeAnalgesia},
       #{postoperativeDestination},
       #{postoperativeVisit},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateTemOperationRecord"  parameterType="com.clinical.model.cluster.TemOperationRecord">
      update   tem_operation_record
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    room_no = #{roomNo},  
    bed_no = #{bedNo},  
    record_status = #{recordStatus},  
    visit_type = #{visitType},  
    department_name = #{departmentName},  
    inpatient_area = #{inpatientArea},  
    age = #{age},  
    admission_number = #{admissionNumber},  
    tpatname = #{tpatname},  
    tpatno = #{tpatno},  
    surgery_sn = #{surgerySn},  
    rcpt_no = #{rcptNo},  
    operation_topic = #{operationTopic},  
    operation_detail_note = #{operationDetailNote},  
    surgical_description = #{surgicalDescription},  
    surgical_findings = #{surgicalFindings},  
    surgical_accident = #{surgicalAccident},  
    skin_sterilization_description = #{skinSterilizationDescription},  
    image_no = #{imageNo},  
    item_no = #{itemNo},  
    item_begin_date = #{itemBeginDate},  
    item_end_date = #{itemEndDate},  
    item_code = #{itemCode},  
    item_name = #{itemName},  
    itemspec = #{itemspec},  
    item_incision_description = #{itemIncisionDescription},  
    performed_by = #{performedBy},  
    bleeding_volume = #{bleedingVolume},  
    transfusion_volume = #{transfusionVolume},  
    blood_transfusion_volume = #{bloodTransfusionVolume},  
    autologous_volume_blood = #{autologousVolumeBlood},  
    intraoperative_volume = #{intraoperativeVolume},  
    pre_operative_brief_description = #{preOperativeBriefDescription},  
    sub_order_no = #{subOrderNo},  
    printed_rcpt_no = #{printedRcptNo},  
    administration = #{administration},  
    name_of_surgeon = #{nameOfSurgeon},  
    name_1 = #{name1},  
    name_2 = #{name2},  
    name_nur = #{nameNur},  
    anesthesia_code = #{anesthesiaCode},  
    anesthesia_method = #{anesthesiaMethod},  
    asa_rating = #{asaRating},  
    operating_room_no = #{operatingRoomNo},  
    operating_room = #{operatingRoom},  
    planned_surgery = #{plannedSurgery},  
    planned_anesthesia = #{plannedAnesthesia},  
    surgical_position = #{surgicalPosition},  
    medication_before_anes = #{medicationBeforeAnes},  
    medication_at_anes = #{medicationAtAnes},  
    anesthesia_complications = #{anesthesiaComplications},  
    anesthesiologist = #{anesthesiologist},  
    diag_preoperation = #{diagPreoperation},  
    diag_postoperation = #{diagPostoperation},  
    surgical_process = #{surgicalProcess},  
    postoperation_complite = #{postoperationComplite},  
    postoperative_analgesia = #{postoperativeAnalgesia},  
    postoperative_destination = #{postoperativeDestination},  
    postoperative_visit = #{postoperativeVisit},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>