<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjChestCtEntryResultsMapper">
<select id="findZjChestCtEntryResultsByUniqueId"  resultType="com.clinical.model.master.CHEST_CT_ENTRY_RESULTS">
       SELECT * FROM CHEST_CT_ENTRY_RESULTS WHERE unique_id_lv2 = #{unique_id_lv2}
</select>

       <select id="findZjChestCtEntryResultsByUniqueId2"  resultType="com.clinical.model.master.CHEST_CT_ENTRY_RESULTS">
       SELECT * FROM CHEST_CT_ENTRY_RESULTS WHERE unique_id = #{unique_id}
</select>

<select id="findZjChestCtEntryResultsByIncr"  resultType="java.lang.String">
       select distinct(unique_id_lv2) FROM CHEST_CT_ENTRY_RESULTS where date(created_at) = date_sub(curdate(),interval 1 day) 
</select>


</mapper>