<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjChestCtDescriptionMapper">
<select id="findZjChestCtDescriptionByUniqueId"  resultType="com.clinical.model.master.CHEST_CT_DESCRIPTION">
       SELECT * FROM CHEST_CT_DESCRIPTION WHERE unique_id_lv2 = #{unique_id_lv2}
</select>

<select id="findZjChestCtDescriptionByIncr"  resultType="java.lang.String">
       select distinct(unique_id_lv2) FROM CHEST_CT_DESCRIPTION where date(created_at) = date_sub(curdate(),interval 1 day) 
</select>


</mapper>