<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjPriorDiseaseAndSurgeryMapper">
<select id="findZjPriorDiseaseAndSurgeryByUniqueId"  resultType="com.clinical.model.master.PRIOR_DISEASE_AND_SURGERY">
       SELECT * FROM PRIOR_DISEASE_AND_SURGERY WHERE unique_id_lv2 = #{unique_id_lv2}
</select>

<select id="findZjPriorDiseaseAndSurgeryByIncr"  resultType="java.lang.String">
       select distinct(unique_id_lv2) FROM PRIOR_DISEASE_AND_SURGERY where date(create_time) = date_sub(curdate(),interval 1 day)
</select>


</mapper>