<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjWardRoundRecordMapper">
<select id="findZjWardRoundRecordByUniqueId"  resultType="com.clinical.model.master.WARD_ROUND_RECORD">
       SELECT * FROM WARD_ROUND_RECORD WHERE unique_id_lv2 = #{unique_id_lv2}
</select>

<select id="findZjWardRoundRecordByIncr"  resultType="java.lang.String">
       select distinct(unique_id_lv2) FROM WARD_ROUND_RECORD where date(created_at) = date_sub(curdate(),interval 1 day) 
</select>


</mapper>