<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjAbdomCtDescriptionMapper">
<select id="findZjAbdomCtDescriptionByUniqueId"  resultType="com.clinical.model.master.ABDOM_CT_DESCRIPTION">
       SELECT * FROM ABDOM_CT_DESCRIPTION WHERE unique_id_lv2 = #{unique_id_lv2}
</select>
       <select id="findZjAbdomCtDescriptionByALL"  resultType="com.clinical.model.master.ABDOM_CT_DESCRIPTION">
       SELECT * FROM ABDOM_CT_DESCRIPTION
</select>
       <select id="findZjAbdomCtDescriptionById"  resultType="com.clinical.model.master.ABDOM_CT_DESCRIPTION">
       SELECT * FROM ABDOM_CT_DESCRIPTION WHERE unique_id = #{unique_id}
</select>
</mapper>