<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjChestXrEntryResultsMapper">
<select id="findZjChestXrEntryResultsByUniqueId"  resultType="com.clinical.model.master.CHEST_XR_ENTRY_RESULTS">
       SELECT * FROM CHEST_XR_ENTRY_RESULTS WHERE unique_id_lv2 = #{unique_id_lv2}
</select>
       <select id="findZjChestXrEntryResultsByALL"  resultType="com.clinical.model.master.CHEST_XR_ENTRY_RESULTS">
       SELECT * FROM CHEST_XR_ENTRY_RESULTS
</select>
</mapper>