<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjSurgicalRecordMapper">
<select id="findZjSurgicalRecordByUniqueId"  resultType="com.clinical.model.master.SURGICAL_RECORD">
       SELECT * FROM SURGICAL_RECORD WHERE unique_id_lv2 = #{unique_id_lv2}
</select>
       <select id="findZjSurgicalRecordByALL"  resultType="com.clinical.model.master.SURGICAL_RECORD">
       SELECT * FROM SURGICAL_RECORD
</select>
</mapper>