<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.AbdomenCtResultMapper">
<select id="findAbdomenCtResultByUniqueId"  resultType="com.clinical.model.cluster.AbdomenCtResult">
       SELECT * FROM abdomen_ct_result WHERE unique_id=#{unique_id}
</select>

 <insert id="saveAbdomenCtResult"  parameterType="com.clinical.model.cluster.AbdomenCtResult" useGeneratedKeys="true" keyProperty="id">
  insert into abdomen_ct_result(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       exam_no,
       exam_name,
       colorectal_mass,
       colorectal_mass_number,
       colorectal_mass_size,
       recrudescence,
       transfer,
       move_site,
       move_number,
       move_size,
       ascites,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{examNo},
       #{examName},
       #{colorectalMass},
       #{colorectalMassNumber},
       #{colorectalMassSize},
       #{recrudescence},
       #{transfer},
       #{moveSite},
       #{moveNumber},
       #{moveSize},
       #{ascites},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateAbdomenCtResult"  parameterType="com.clinical.model.cluster.AbdomenCtResult">
      update   abdomen_ct_result
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    exam_no = #{examNo},  
    exam_name = #{examName},  
    colorectal_mass = #{colorectalMass},  
    colorectal_mass_number = #{colorectalMassNumber},  
    colorectal_mass_size = #{colorectalMassSize},  
    recrudescence = #{recrudescence},  
    transfer = #{transfer},  
    move_site = #{moveSite},  
    move_number = #{moveNumber},  
    move_size = #{moveSize},  
    ascites = #{ascites},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>