<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.IndexPersonMapper">
<select id="findIndexPersonByUniqueId"  resultType="com.clinical.model.cluster.IndexPerson">
       SELECT * FROM index_person WHERE unique_id=#{unique_id}
</select>

 <insert id="saveIndexPerson"  parameterType="com.clinical.model.cluster.IndexPerson" useGeneratedKeys="true" keyProperty="id">
  insert into index_person(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       patient_id,
       visit_id,
       p900,
       p6891,
       p686,
       p800,
       p1,
       p2,
       p3,
       DOP3,
       p4,
       p5,
       p6,
       p7,
       p8,
       p9,
       p101,
       p102,
       p103,
       p11,
       p12,
       p13,
       p801,
       p802,
       p803,
       p14,
       p15,
       p16,
       p17,
       p171,
       p18,
       p19,
       p20,
       p804,
       p21,
       p22,
       p23,
       p231,
       p24,
       p25,
       p26,
       p261,
       p27,
       p29,
       p31,
       p689,
       p371,
       p372,
       p38,
       p39,
       p40,
       p411,
       p412,
       p413,
       p414,
       p415,
       p421,
       p422,
       p687,
       p688,
       p431,
       p432,
       p433,
       p434,
       p819,
       p435,
       p436,
       p437,
       p438,
       p44,
       p45,
       p46,
       p47,
       p561,
       p562,
       p563,
       p564,
       p57,
       p58,
       p581,
       p60,
       p611,
       p612,
       p613,
       p59,
       p62,
       p63,
       p64,
       p651,
       p652,
       p653,
       p654,
       p655,
       p656,
       p66,
       p681,
       p67,
       p731,
       p732,
       p733,
       p734,
       p72,
       p830,
       p831,
       p741,
       p742,
       p743,
       p782,
       p751,
       p752,
       p754,
       p755,
       p756,
       p757,
       p758,
       p759,
       p760,
       p761,
       p762,
       p763,
       p764,
       p765,
       p767,
       p768,
       p769,
       p770,
       p771,
       p772,
       p773,
       p774,
       p775,
       p776,
       p777,
       p778,
       p779,
       p780,
       p781,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{patientId},
       #{visitId},
       #{p900},
       #{p6891},
       #{p686},
       #{p800},
       #{p1},
       #{p2},
       #{p3},
       #{dop3},
       #{p4},
       #{p5},
       #{p6},
       #{p7},
       #{p8},
       #{p9},
       #{p101},
       #{p102},
       #{p103},
       #{p11},
       #{p12},
       #{p13},
       #{p801},
       #{p802},
       #{p803},
       #{p14},
       #{p15},
       #{p16},
       #{p17},
       #{p171},
       #{p18},
       #{p19},
       #{p20},
       #{p804},
       #{p21},
       #{p22},
       #{p23},
       #{p231},
       #{p24},
       #{p25},
       #{p26},
       #{p261},
       #{p27},
       #{p29},
       #{p31},
       #{p689},
       #{p371},
       #{p372},
       #{p38},
       #{p39},
       #{p40},
       #{p411},
       #{p412},
       #{p413},
       #{p414},
       #{p415},
       #{p421},
       #{p422},
       #{p687},
       #{p688},
       #{p431},
       #{p432},
       #{p433},
       #{p434},
       #{p819},
       #{p435},
       #{p436},
       #{p437},
       #{p438},
       #{p44},
       #{p45},
       #{p46},
       #{p47},
       #{p561},
       #{p562},
       #{p563},
       #{p564},
       #{p57},
       #{p58},
       #{p581},
       #{p60},
       #{p611},
       #{p612},
       #{p613},
       #{p59},
       #{p62},
       #{p63},
       #{p64},
       #{p651},
       #{p652},
       #{p653},
       #{p654},
       #{p655},
       #{p656},
       #{p66},
       #{p681},
       #{p67},
       #{p731},
       #{p732},
       #{p733},
       #{p734},
       #{p72},
       #{p830},
       #{p831},
       #{p741},
       #{p742},
       #{p743},
       #{p782},
       #{p751},
       #{p752},
       #{p754},
       #{p755},
       #{p756},
       #{p757},
       #{p758},
       #{p759},
       #{p760},
       #{p761},
       #{p762},
       #{p763},
       #{p764},
       #{p765},
       #{p767},
       #{p768},
       #{p769},
       #{p770},
       #{p771},
       #{p772},
       #{p773},
       #{p774},
       #{p775},
       #{p776},
       #{p777},
       #{p778},
       #{p779},
       #{p780},
       #{p781},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateIndexPerson"  parameterType="com.clinical.model.cluster.IndexPerson">
      update   index_person
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    p900 = #{p900},  
    p6891 = #{p6891},  
    p686 = #{p686},  
    p800 = #{p800},  
    p1 = #{p1},  
    p2 = #{p2},  
    p3 = #{p3},  
    DOP3 = #{dop3},  
    p4 = #{p4},  
    p5 = #{p5},  
    p6 = #{p6},  
    p7 = #{p7},  
    p8 = #{p8},  
    p9 = #{p9},  
    p101 = #{p101},  
    p102 = #{p102},  
    p103 = #{p103},  
    p11 = #{p11},  
    p12 = #{p12},  
    p13 = #{p13},  
    p801 = #{p801},  
    p802 = #{p802},  
    p803 = #{p803},  
    p14 = #{p14},  
    p15 = #{p15},  
    p16 = #{p16},  
    p17 = #{p17},  
    p171 = #{p171},  
    p18 = #{p18},  
    p19 = #{p19},  
    p20 = #{p20},  
    p804 = #{p804},  
    p21 = #{p21},  
    p22 = #{p22},  
    p23 = #{p23},  
    p231 = #{p231},  
    p24 = #{p24},  
    p25 = #{p25},  
    p26 = #{p26},  
    p261 = #{p261},  
    p27 = #{p27},  
    p29 = #{p29},  
    p31 = #{p31},  
    p689 = #{p689},  
    p371 = #{p371},  
    p372 = #{p372},  
    p38 = #{p38},  
    p39 = #{p39},  
    p40 = #{p40},  
    p411 = #{p411},  
    p412 = #{p412},  
    p413 = #{p413},  
    p414 = #{p414},  
    p415 = #{p415},  
    p421 = #{p421},  
    p422 = #{p422},  
    p687 = #{p687},  
    p688 = #{p688},  
    p431 = #{p431},  
    p432 = #{p432},  
    p433 = #{p433},  
    p434 = #{p434},  
    p819 = #{p819},  
    p435 = #{p435},  
    p436 = #{p436},  
    p437 = #{p437},  
    p438 = #{p438},  
    p44 = #{p44},  
    p45 = #{p45},  
    p46 = #{p46},  
    p47 = #{p47},  
    p561 = #{p561},  
    p562 = #{p562},  
    p563 = #{p563},  
    p564 = #{p564},  
    p57 = #{p57},  
    p58 = #{p58},  
    p581 = #{p581},  
    p60 = #{p60},  
    p611 = #{p611},  
    p612 = #{p612},  
    p613 = #{p613},  
    p59 = #{p59},  
    p62 = #{p62},  
    p63 = #{p63},  
    p64 = #{p64},  
    p651 = #{p651},  
    p652 = #{p652},  
    p653 = #{p653},  
    p654 = #{p654},  
    p655 = #{p655},  
    p656 = #{p656},  
    p66 = #{p66},  
    p681 = #{p681},  
    p67 = #{p67},  
    p731 = #{p731},  
    p732 = #{p732},  
    p733 = #{p733},  
    p734 = #{p734},  
    p72 = #{p72},  
    p830 = #{p830},  
    p831 = #{p831},  
    p741 = #{p741},  
    p742 = #{p742},  
    p743 = #{p743},  
    p782 = #{p782},  
    p751 = #{p751},  
    p752 = #{p752},  
    p754 = #{p754},  
    p755 = #{p755},  
    p756 = #{p756},  
    p757 = #{p757},  
    p758 = #{p758},  
    p759 = #{p759},  
    p760 = #{p760},  
    p761 = #{p761},  
    p762 = #{p762},  
    p763 = #{p763},  
    p764 = #{p764},  
    p765 = #{p765},  
    p767 = #{p767},  
    p768 = #{p768},  
    p769 = #{p769},  
    p770 = #{p770},  
    p771 = #{p771},  
    p772 = #{p772},  
    p773 = #{p773},  
    p774 = #{p774},  
    p775 = #{p775},  
    p776 = #{p776},  
    p777 = #{p777},  
    p778 = #{p778},  
    p779 = #{p779},  
    p780 = #{p780},  
    p781 = #{p781},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>