<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.OperativeComplicationsMapper">
<select id="findOperativeComplicationsByUniqueId"  resultType="com.clinical.model.cluster.OperativeComplications">
       SELECT * FROM operative_complications WHERE unique_id=#{unique_id}
</select>

 <insert id="saveOperativeComplications"  parameterType="com.clinical.model.cluster.OperativeComplications" useGeneratedKeys="true" keyProperty="id">
  insert into operative_complications(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       fat_liquefaction,
       septic_shock,
       hemorrhage,
       anastomotic_bleeding,
       abdominal_hemorrhage,
       bile_leakage,
       enterorrhea,
       pulmonary_infection,
       respiratory_failure,
       heart_failure,
       deep_venous_thrombosis,
       atelectasis,
       anastomotic_leakage,
       peritonitis,
       urinary_tract_infection,
       intestinal_obstruction,
       urinary_retention,
       gastrointestinal_bleeding,
       abdominal_infection,
       cardiovascular_and_cerebrovascular_accident,
       pulmonary_embolism,
       incision_infection,
       gastrointestinal_perforation,
       ascites,
       lymphatic_fistula,
       ketoacidosis,
       anastomotic_stenosis,
       renal_failure,
       systemic_multiple_organ_failure,
       liver_dysfunction,
       liver_failure,
       intraperitoneal_hemorrhage,
       pancreatitis,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{fatLiquefaction},
       #{septicShock},
       #{hemorrhage},
       #{anastomoticBleeding},
       #{abdominalHemorrhage},
       #{bileLeakage},
       #{enterorrhea},
       #{pulmonaryInfection},
       #{respiratoryFailure},
       #{heartFailure},
       #{deepVenousThrombosis},
       #{atelectasis},
       #{anastomoticLeakage},
       #{peritonitis},
       #{urinaryTractInfection},
       #{intestinalObstruction},
       #{urinaryRetention},
       #{gastrointestinalBleeding},
       #{abdominalInfection},
       #{cardiovascularAndCerebrovascularAccident},
       #{pulmonaryEmbolism},
       #{incisionInfection},
       #{gastrointestinalPerforation},
       #{ascites},
       #{lymphaticFistula},
       #{ketoacidosis},
       #{anastomoticStenosis},
       #{renalFailure},
       #{systemicMultipleOrganFailure},
       #{liverDysfunction},
       #{liverFailure},
       #{intraperitonealHemorrhage},
       #{pancreatitis},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateOperativeComplications"  parameterType="com.clinical.model.cluster.OperativeComplications">
      update   operative_complications
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    fat_liquefaction = #{fatLiquefaction},  
    septic_shock = #{septicShock},  
    hemorrhage = #{hemorrhage},  
    anastomotic_bleeding = #{anastomoticBleeding},  
    abdominal_hemorrhage = #{abdominalHemorrhage},  
    bile_leakage = #{bileLeakage},  
    enterorrhea = #{enterorrhea},  
    pulmonary_infection = #{pulmonaryInfection},  
    respiratory_failure = #{respiratoryFailure},  
    heart_failure = #{heartFailure},  
    deep_venous_thrombosis = #{deepVenousThrombosis},  
    atelectasis = #{atelectasis},  
    anastomotic_leakage = #{anastomoticLeakage},  
    peritonitis = #{peritonitis},  
    urinary_tract_infection = #{urinaryTractInfection},  
    intestinal_obstruction = #{intestinalObstruction},  
    urinary_retention = #{urinaryRetention},  
    gastrointestinal_bleeding = #{gastrointestinalBleeding},  
    abdominal_infection = #{abdominalInfection},  
    cardiovascular_and_cerebrovascular_accident = #{cardiovascularAndCerebrovascularAccident},  
    pulmonary_embolism = #{pulmonaryEmbolism},  
    incision_infection = #{incisionInfection},  
    gastrointestinal_perforation = #{gastrointestinalPerforation},  
    ascites = #{ascites},  
    lymphatic_fistula = #{lymphaticFistula},  
    ketoacidosis = #{ketoacidosis},  
    anastomotic_stenosis = #{anastomoticStenosis},  
    renal_failure = #{renalFailure},  
    systemic_multiple_organ_failure = #{systemicMultipleOrganFailure},  
    liver_dysfunction = #{liverDysfunction},  
    liver_failure = #{liverFailure},  
    intraperitoneal_hemorrhage = #{intraperitonealHemorrhage},  
    pancreatitis = #{pancreatitis},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>