<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.TemDeathRecordMapper">
<select id="findTemDeathRecordByUniqueId"  resultType="com.clinical.model.cluster.TemDeathRecord">
       SELECT * FROM tem_death_record WHERE unique_id=#{unique_id}
</select>

 <insert id="saveTemDeathRecord"  parameterType="com.clinical.model.cluster.TemDeathRecord" useGeneratedKeys="true" keyProperty="id">
  insert into tem_death_record(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       admission_number,
       tpatno,
       visit_type,
       tpatname,
       sex,
       age,
       department_name,
       inpatient_area,
       room_no,
       bed_no,
       record_status,
       admission_date_time,
       death_date_time,
       chief_complain,
       present_illness_history,
       tzy_days,
       admission_status,
       admission_diagnosis,
       tzl_process,
       death_cause,
       agree_autopsy,
       death_diagnosis,
       doctor_sign,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{admissionNumber},
       #{tpatno},
       #{visitType},
       #{tpatname},
       #{sex},
       #{age},
       #{departmentName},
       #{inpatientArea},
       #{roomNo},
       #{bedNo},
       #{recordStatus},
       #{admissionDateTime},
       #{deathDateTime},
       #{chiefComplain},
       #{presentIllnessHistory},
       #{tzyDays},
       #{admissionStatus},
       #{admissionDiagnosis},
       #{tzlProcess},
       #{deathCause},
       #{agreeAutopsy},
       #{deathDiagnosis},
       #{doctorSign},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateTemDeathRecord"  parameterType="com.clinical.model.cluster.TemDeathRecord">
      update   tem_death_record
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    admission_number = #{admissionNumber},  
    tpatno = #{tpatno},  
    visit_type = #{visitType},  
    tpatname = #{tpatname},  
    sex = #{sex},  
    age = #{age},  
    department_name = #{departmentName},  
    inpatient_area = #{inpatientArea},  
    room_no = #{roomNo},  
    bed_no = #{bedNo},  
    record_status = #{recordStatus},  
    admission_date_time = #{admissionDateTime},  
    death_date_time = #{deathDateTime},  
    chief_complain = #{chiefComplain},  
    present_illness_history = #{presentIllnessHistory},  
    tzy_days = #{tzyDays},  
    admission_status = #{admissionStatus},  
    admission_diagnosis = #{admissionDiagnosis},  
    tzl_process = #{tzlProcess},  
    death_cause = #{deathCause},  
    agree_autopsy = #{agreeAutopsy},  
    death_diagnosis = #{deathDiagnosis},  
    doctor_sign = #{doctorSign},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>