<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.TemOutpDischargeStatusMapper">
<select id="findTemOutpDischargeStatusByUniqueId"  resultType="com.clinical.model.cluster.TemOutpDischargeStatus">
       SELECT * FROM tem_outp_discharge_status WHERE unique_id=#{unique_id}
</select>

 <insert id="saveTemOutpDischargeStatus"  parameterType="com.clinical.model.cluster.TemOutpDischargeStatus" useGeneratedKeys="true" keyProperty="id">
  insert into tem_outp_discharge_status(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       admission_number,
       tpatname,
       tpatno,
       visit_type,
       age,
       department_name,
       inpatient_area,
       room_no,
       bed_no,
       record_status,
       admission_date_time,
       tzy_days,
       cop_status,
       tzl_process,
       discharge_status,
       discharge_date_time,
       admission_diagnosis,
       discharge_diagnosis,
       treatment_effect,
       discharge_order,
       doctor_sign,
       record_date_time,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{admissionNumber},
       #{tpatname},
       #{tpatno},
       #{visitType},
       #{age},
       #{departmentName},
       #{inpatientArea},
       #{roomNo},
       #{bedNo},
       #{recordStatus},
       #{admissionDateTime},
       #{tzyDays},
       #{copStatus},
       #{tzlProcess},
       #{dischargeStatus},
       #{dischargeDateTime},
       #{admissionDiagnosis},
       #{dischargeDiagnosis},
       #{treatmentEffect},
       #{dischargeOrder},
       #{doctorSign},
       #{recordDateTime},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateTemOutpDischargeStatus"  parameterType="com.clinical.model.cluster.TemOutpDischargeStatus">
      update   tem_outp_discharge_status
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    admission_number = #{admissionNumber},  
    tpatname = #{tpatname},  
    tpatno = #{tpatno},  
    visit_type = #{visitType},  
    age = #{age},  
    department_name = #{departmentName},  
    inpatient_area = #{inpatientArea},  
    room_no = #{roomNo},  
    bed_no = #{bedNo},  
    record_status = #{recordStatus},  
    admission_date_time = #{admissionDateTime},  
    tzy_days = #{tzyDays},  
    cop_status = #{copStatus},  
    tzl_process = #{tzlProcess},  
    discharge_status = #{dischargeStatus},  
    discharge_date_time = #{dischargeDateTime},  
    admission_diagnosis = #{admissionDiagnosis},  
    discharge_diagnosis = #{dischargeDiagnosis},  
    treatment_effect = #{treatmentEffect},  
    discharge_order = #{dischargeOrder},  
    doctor_sign = #{doctorSign},  
    record_date_time = #{recordDateTime},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>