<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.ChemotherapyMapper">
<select id="findChemotherapyByUniqueId"  resultType="com.clinical.model.cluster.Chemotherapy">
       SELECT * FROM chemotherapy WHERE unique_id=#{unique_id}
</select>

 <insert id="saveChemotherapy"  parameterType="com.clinical.model.cluster.Chemotherapy">
  insert into chemotherapy(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       unique_id_lv3,
       record_status,
       chem_begin_time,
       chem_end_time,
       chem_period,
       chem_period_total,
       chem_drug_and_dose,
       purpose,
       efficacy_evaluation,
       side_effect,
       chemo_doctor,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{uniqueIdLv3},
       #{recordStatus},
       #{chemBeginTime},
       #{chemEndTime},
       #{chemPeriod},
       #{chemPeriodTotal},
       #{chemDrugAndDose},
       #{purpose},
       #{efficacyEvaluation},
       #{sideEffect},
       #{chemoDoctor},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateChemotherapy"  parameterType="com.clinical.model.cluster.Chemotherapy">
      update   chemotherapy
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    unique_id_lv3 = #{uniqueIdLv3},  
    record_status = #{recordStatus},  
    chem_begin_time = #{chemBeginTime},  
    chem_end_time = #{chemEndTime},  
    chem_period = #{chemPeriod},  
    chem_period_total = #{chemPeriodTotal},  
    chem_drug_and_dose = #{chemDrugAndDose},  
    purpose = #{purpose},  
    efficacy_evaluation = #{efficacyEvaluation},  
    side_effect = #{sideEffect},  
    chemo_doctor = #{chemoDoctor},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>