<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.ConsultationMapper">
<select id="findConsultationByUniqueId"  resultType="com.clinical.model.cluster.Consultation">
       SELECT * FROM consultation WHERE unique_id=#{unique_id}
</select>

 <insert id="saveConsultation"  parameterType="com.clinical.model.cluster.Consultation">
  insert into consultation(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       affirm_date_time,
       consultation_dept,
       consult_idea,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{affirmDateTime},
       #{consultationDept},
       #{consultIdea},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deleteConsultation">
   delete * from consultation where unique_id=#{unique_id}
  </delete>

 <update id="updateConsultation"  parameterType="com.clinical.model.cluster.Consultation">
      update   consultation
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    affirm_date_time = #{affirmDateTime},  
    consultation_dept = #{consultationDept},  
    consult_idea = #{consultIdea},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>