<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.HisFamilyMapper">
<select id="findHisFamilyByUniqueId"  resultType="com.clinical.model.cluster.HisFamily">
       SELECT * FROM his_family WHERE unique_id=#{unique_id}
</select>

 <insert id="saveHisFamily"  parameterType="com.clinical.model.cluster.HisFamily">
  insert into his_family(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       family_tumour,
       tumour_relative,
       relative_tumour_name,
       family_ccvd,
       ccvd_relative,
       relative_ccvd_name,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{familyTumour},
       #{tumourRelative},
       #{relativeTumourName},
       #{familyCcvd},
       #{ccvdRelative},
       #{relativeCcvdName},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deleteHisFamily">
   delete * from his_family where unique_id=#{unique_id}
  </delete>

 <update id="updateHisFamily"  parameterType="com.clinical.model.cluster.HisFamily">
      update   his_family
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    family_tumour = #{familyTumour},  
    tumour_relative = #{tumourRelative},  
    relative_tumour_name = #{relativeTumourName},  
    family_ccvd = #{familyCcvd},  
    ccvd_relative = #{ccvdRelative},  
    relative_ccvd_name = #{relativeCcvdName},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>