<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.NeckUltrasoundMapper">
<select id="findNeckUltrasoundByUniqueId"  resultType="com.clinical.model.cluster.NeckUltrasound">
       SELECT * FROM neck_ultrasound WHERE unique_id=#{unique_id}
</select>

 <insert id="saveNeckUltrasound"  parameterType="com.clinical.model.cluster.NeckUltrasound">
  insert into neck_ultrasound(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       exam_no,
       exam_name,
       transfer,
       transfer_site,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{examNo},
       #{examName},
       #{transfer},
       #{transferSite},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deleteNeckUltrasound">
   delete * from neck_ultrasound where unique_id=#{unique_id}
  </delete>

 <update id="updateNeckUltrasound"  parameterType="com.clinical.model.cluster.NeckUltrasound">
      update   neck_ultrasound
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    exam_no = #{examNo},  
    exam_name = #{examName},  
    transfer = #{transfer},  
    transfer_site = #{transferSite},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>