<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.PathologicalMapper">
<select id="findPathologicalByUniqueId"  resultType="com.clinical.model.cluster.Pathological">
       SELECT * FROM pathological WHERE unique_id=#{unique_id}
</select>

 <insert id="savePathological"  parameterType="com.clinical.model.cluster.Pathological" useGeneratedKeys="true" keyProperty="id">
  insert into pathological(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       unique_id_lv3,
       case_number,
       inspect_time,
       reprot_time,
       specimen_name,
       lauren,
       pathological_type,
       differentiation_degree,
       infiltration_depth,
       vascular_invasion,
       lymphatic_invasion,
       nerve_invasion,
       invasion_of_organs,
       incisal_margin,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{uniqueIdLv3},
       #{caseNumber},
       #{inspectTime},
       #{reprotTime},
       #{specimenName},
       #{lauren},
       #{pathologicalType},
       #{differentiationDegree},
       #{infiltrationDepth},
       #{vascularInvasion},
       #{lymphaticInvasion},
       #{nerveInvasion},
       #{invasionOfOrgans},
       #{incisalMargin},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updatePathological"  parameterType="com.clinical.model.cluster.Pathological">
      update   pathological
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    unique_id_lv3 = #{uniqueIdLv3},  
    case_number = #{caseNumber},  
    inspect_time = #{inspectTime},  
    reprot_time = #{reprotTime},  
    specimen_name = #{specimenName},  
    lauren = #{lauren},  
    pathological_type = #{pathologicalType},  
    differentiation_degree = #{differentiationDegree},  
    infiltration_depth = #{infiltrationDepth},  
    vascular_invasion = #{vascularInvasion},  
    lymphatic_invasion = #{lymphaticInvasion},  
    nerve_invasion = #{nerveInvasion},  
    invasion_of_organs = #{invasionOfOrgans},  
    incisal_margin = #{incisalMargin},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>