<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.PersonMapper">
<select id="findPersonByPersonId"  resultType="com.clinical.model.cluster.Person">
       SELECT * FROM person WHERE person_id=#{uniqueId}
</select>

 <insert id="savePerson"  parameterType="com.clinical.model.cluster.Person">
  insert into person(       person_id,
       p900,
       patient_id,
       visit_id,
       name,
       sex,
       date_of_birth,
       birth_place,
       citizenship,
       nation,
       id_no,
       unit_in_contract,
       mailing_address,
       next_of_kin,
       telephone,
       relationship,
       patient_class,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{p900},
       #{patientId},
       #{visitId},
       #{name},
       #{sex},
       #{dateOfBirth},
       #{birthPlace},
       #{citizenship},
       #{nation},
       #{idNo},
       #{unitInContract},
       #{mailingAddress},
       #{nextOfKin},
       #{telephone},
       #{relationship},
       #{patientClass},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deletePerson">
   delete * from person where unique_id=#{unique_id}
  </delete>

 <update id="updatePerson"  parameterType="com.clinical.model.cluster.Person">
      update   person
 set
    person_id = #{personId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    name = #{name},  
    sex = #{sex},  
    date_of_birth = #{dateOfBirth},  
    birth_place = #{birthPlace},  
    citizenship = #{citizenship},  
    nation = #{nation},  
    id_no = #{idNo},  
    unit_in_contract = #{unitInContract},  
    mailing_address = #{mailingAddress},  
    next_of_kin = #{nextOfKin},  
    telephone = #{telephone},  
    relationship = #{relationship},  
    patient_class = #{patientClass},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>