<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjHistologyReportMapper">
<select id="findZjHistologyReportByUniqueId"  resultType="com.clinical.model.master.HISTOLOGY_REPORT">
       SELECT * FROM HISTOLOGY_REPORT WHERE unique_id_lv2 = #{unique_id_lv2}
</select>

       <select id="findZjHistologyReportByUniqueId2"  resultType="com.clinical.model.master.HISTOLOGY_REPORT">
       SELECT * FROM HISTOLOGY_REPORT WHERE unique_id = #{unique_id}
</select>

<select id="findZjHistologyReportByIncr"  resultType="java.lang.String">
       select distinct(unique_id_lv2) FROM HISTOLOGY_REPORT where date(record_time) = date_sub(curdate(),interval 1 day) 
</select>


</mapper>