<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjPhysicalExamMapper">
<select id="findZjPhysicalExamByUniqueId"  resultType="com.clinical.model.master.PHYSICAL_EXAM">
       SELECT * FROM PHYSICAL_EXAM WHERE unique_id_lv2 = #{unique_id_lv2}
</select>

<select id="findZjPhysicalExamByIncr"  resultType="java.lang.String">
       select distinct(unique_id_lv2) FROM PHYSICAL_EXAM where date(record_time) = date_sub(curdate(),interval 1 day) 
</select>


</mapper>