<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjTemInpAdmissionStatusMapper">
<select id="findZjTemInpAdmissionStatusByUniqueId"  resultType="com.clinical.model.master.TEM_INP_ADMISSION_STATUS">
       SELECT * FROM TEM_INP_ADMISSION_STATUS WHERE unique_id_lv2 = #{unique_id_lv2}
</select>

<select id="findZjTemInpAdmissionStatusByIncr"  resultType="java.lang.String">
       select distinct(unique_id_lv2) FROM TEM_INP_ADMISSION_STATUS where date(record_time) = date_sub(curdate(),interval 1 day) 
</select>


</mapper>