<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.AbdomenUsResultMapper">
<select id="findAbdomenUsResultByUniqueId"  resultType="com.clinical.model.cluster.AbdomenUsResult">
       SELECT * FROM abdomen_us_result WHERE unique_id=#{unique_id}
</select>

 <insert id="saveAbdomenUsResult"  parameterType="com.clinical.model.cluster.AbdomenUsResult" useGeneratedKeys="true" keyProperty="id">
  insert into abdomen_us_result(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       exam_no,
       exam_name,
       gastric_mass,
       gastric_mass_number,
       gastric_mass_size,
       liver_mass,
       liver_mass_number,
       liver_mass_size,
       pancreatic_mass,
       pancreatic_mass_number,
       pancreatic_mass_size,
       renal_mass,
       renal_mass_number,
       renal_mass_size,
       colorectal_mass,
       colorectal_mass_number,
       colorectal_mass_size,
       lymphadenopathy,
       lymph_enlargement_site,
       ascites,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{examNo},
       #{examName},
       #{gastricMass},
       #{gastricMassNumber},
       #{gastricMassSize},
       #{liverMass},
       #{liverMassNumber},
       #{liverMassSize},
       #{pancreaticMass},
       #{pancreaticMassNumber},
       #{pancreaticMassSize},
       #{renalMass},
       #{renalMassNumber},
       #{renalMassSize},
       #{colorectalMass},
       #{colorectalMassNumber},
       #{colorectalMassSize},
       #{lymphadenopathy},
       #{lymphEnlargementSite},
       #{ascites},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateAbdomenUsResult"  parameterType="com.clinical.model.cluster.AbdomenUsResult">
      update   abdomen_us_result
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    exam_no = #{examNo},  
    exam_name = #{examName},  
    gastric_mass = #{gastricMass},  
    gastric_mass_number = #{gastricMassNumber},  
    gastric_mass_size = #{gastricMassSize},  
    liver_mass = #{liverMass},  
    liver_mass_number = #{liverMassNumber},  
    liver_mass_size = #{liverMassSize},  
    pancreatic_mass = #{pancreaticMass},  
    pancreatic_mass_number = #{pancreaticMassNumber},  
    pancreatic_mass_size = #{pancreaticMassSize},  
    renal_mass = #{renalMass},  
    renal_mass_number = #{renalMassNumber},  
    renal_mass_size = #{renalMassSize},  
    colorectal_mass = #{colorectalMass},  
    colorectal_mass_number = #{colorectalMassNumber},  
    colorectal_mass_size = #{colorectalMassSize},  
    lymphadenopathy = #{lymphadenopathy},  
    lymph_enlargement_site = #{lymphEnlargementSite},  
    ascites = #{ascites},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>