<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.EmergencyRecordMapper">
<select id="findEmergencyRecordByUniqueId"  resultType="com.clinical.model.cluster.EmergencyRecord">
       SELECT * FROM emergency_record WHERE unique_id=#{unique_id}
</select>

 <insert id="saveEmergencyRecord"  parameterType="com.clinical.model.cluster.EmergencyRecord" useGeneratedKeys="true" keyProperty="id">
  insert into emergency_record(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       admission_number,
       tpatno,
       visit_type,
       age,
       department_name,
       inpatient_area,
       room_no,
       bed_no,
       record_status,
       start_time,
       end_time,
       location,
       vitalsigns_description,
       cardio_respiratory_arrest_time,
       rescue_description,
       family_member_do_not_resuscitate,
       rescue_topic,
       emergency_note,
       emergency_personnel,
       record_time,
       doctor_sign,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{admissionNumber},
       #{tpatno},
       #{visitType},
       #{age},
       #{departmentName},
       #{inpatientArea},
       #{roomNo},
       #{bedNo},
       #{recordStatus},
       #{startTime},
       #{endTime},
       #{location},
       #{vitalsignsDescription},
       #{cardioRespiratoryArrestTime},
       #{rescueDescription},
       #{familyMemberDoNotResuscitate},
       #{rescueTopic},
       #{emergencyNote},
       #{emergencyPersonnel},
       #{recordTime},
       #{doctorSign},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateEmergencyRecord"  parameterType="com.clinical.model.cluster.EmergencyRecord">
      update   emergency_record
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    admission_number = #{admissionNumber},  
    tpatno = #{tpatno},  
    visit_type = #{visitType},  
    age = #{age},  
    department_name = #{departmentName},  
    inpatient_area = #{inpatientArea},  
    room_no = #{roomNo},  
    bed_no = #{bedNo},  
    record_status = #{recordStatus},  
    start_time = #{startTime},  
    end_time = #{endTime},  
    location = #{location},  
    vitalsigns_description = #{vitalsignsDescription},  
    cardio_respiratory_arrest_time = #{cardioRespiratoryArrestTime},  
    rescue_description = #{rescueDescription},  
    family_member_do_not_resuscitate = #{familyMemberDoNotResuscitate},  
    rescue_topic = #{rescueTopic},  
    emergency_note = #{emergencyNote},  
    emergency_personnel = #{emergencyPersonnel},  
    record_time = #{recordTime},  
    doctor_sign = #{doctorSign},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>