<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.EusMapper">
<select id="findEusByUniqueId"  resultType="com.clinical.model.cluster.Eus">
       SELECT * FROM eus WHERE unique_id=#{unique_id}
</select>

 <insert id="saveEus"  parameterType="com.clinical.model.cluster.Eus" useGeneratedKeys="true" keyProperty="id">
  insert into eus(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       lesion_location,
       lesion_size,
       lesion_number,
       distance_to_incisor,
       lymph_around_stomach,
       hp,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{lesionLocation},
       #{lesionSize},
       #{lesionNumber},
       #{distanceToIncisor},
       #{lymphAroundStomach},
       #{hp},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateEus"  parameterType="com.clinical.model.cluster.Eus">
      update   eus
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    lesion_location = #{lesionLocation},  
    lesion_size = #{lesionSize},  
    lesion_number = #{lesionNumber},  
    distance_to_incisor = #{distanceToIncisor},  
    lymph_around_stomach = #{lymphAroundStomach},  
    hp = #{hp},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>