<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.IndexDiagnosisClinicMapper">
<select id="findIndexDiagnosisClinicByUniqueId"  resultType="com.clinical.model.cluster.IndexDiagnosisClinic">
       SELECT * FROM index_diagnosis_clinic WHERE unique_id=#{unique_id}
</select>

 <insert id="saveIndexDiagnosisClinic"  parameterType="com.clinical.model.cluster.IndexDiagnosisClinic" useGeneratedKeys="true" keyProperty="id">
  insert into index_diagnosis_clinic(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       P28,
       P281,
       diagnosis_date,
       visit_date,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{p28},
       #{p281},
       #{diagnosisDate},
       #{visitDate},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateIndexDiagnosisClinic"  parameterType="com.clinical.model.cluster.IndexDiagnosisClinic">
      update   index_diagnosis_clinic
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    P28 = #{p28},  
    P281 = #{p281},  
    diagnosis_date = #{diagnosisDate},  
    visit_date = #{visitDate},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>