<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.TemInpAdmissionStatusMapper">
<select id="findTemInpAdmissionStatusByUniqueId"  resultType="com.clinical.model.cluster.TemInpAdmissionStatus">
       SELECT * FROM tem_inp_admission_status WHERE unique_id=#{unique_id}
</select>

 <insert id="saveTemInpAdmissionStatus"  parameterType="com.clinical.model.cluster.TemInpAdmissionStatus" useGeneratedKeys="true" keyProperty="id">
  insert into tem_inp_admission_status(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       room_no,
       bed_no,
       record_status,
       visit_type,
       department_name,
       inpatient_area,
       tpatname,
       admission_date_time,
       admission_number,
       tpatno,
       preliminary_clinical_diagnosis,
       preliminary_diagnosis_date,
       doctor_preliminary_diagnosis,
       clinical_definite_diagnosis,
       definite_diagnosis_date,
       doctor_definite_diagnosis,
       hy_present,
       hy_pats,
       hy_individual,
       menstrual_history_sta,
       by_height,
       by_weight,
       fat,
       by_surface_area,
       t_ecog_whops,
       t_kps,
       t_nrs,
       hy_family,
       physical_exam,
       chief_complaint,
       speciality_exam,
       supplementary_exam,
       marriage,
       sex,
       age,
       nation,
       occupation,
       record_time,
       medical_history_narrator,
       relationship_between_patient,
       history_of_marr_child,
       reproductive_history,
       allergy_history,
       exposure_history,
       mother_fertile_history,
       correct_diagnosis,
       correct_diagnosis_time,
       correct_diagnosis_doctor,
       sup_diagnosis,
       sup_diagnosis_time,
       sup_diagnosis_doctor,
       record_summary,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{roomNo},
       #{bedNo},
       #{recordStatus},
       #{visitType},
       #{departmentName},
       #{inpatientArea},
       #{tpatname},
       #{admissionDateTime},
       #{admissionNumber},
       #{tpatno},
       #{preliminaryClinicalDiagnosis},
       #{preliminaryDiagnosisDate},
       #{doctorPreliminaryDiagnosis},
       #{clinicalDefiniteDiagnosis},
       #{definiteDiagnosisDate},
       #{doctorDefiniteDiagnosis},
       #{hyPresent},
       #{hyPats},
       #{hyIndividual},
       #{menstrualHistorySta},
       #{byHeight},
       #{byWeight},
       #{fat},
       #{bySurfaceArea},
       #{tEcogWhops},
       #{tKps},
       #{tNrs},
       #{hyFamily},
       #{physicalExam},
       #{chiefComplaint},
       #{specialityExam},
       #{supplementaryExam},
       #{marriage},
       #{sex},
       #{age},
       #{nation},
       #{occupation},
       #{recordTime},
       #{medicalHistoryNarrator},
       #{relationshipBetweenPatient},
       #{historyOfMarrChild},
       #{reproductiveHistory},
       #{allergyHistory},
       #{exposureHistory},
       #{motherFertileHistory},
       #{correctDiagnosis},
       #{correctDiagnosisTime},
       #{correctDiagnosisDoctor},
       #{supDiagnosis},
       #{supDiagnosisTime},
       #{supDiagnosisDoctor},
       #{recordSummary},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateTemInpAdmissionStatus"  parameterType="com.clinical.model.cluster.TemInpAdmissionStatus">
      update   tem_inp_admission_status
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    room_no = #{roomNo},  
    bed_no = #{bedNo},  
    record_status = #{recordStatus},  
    visit_type = #{visitType},  
    department_name = #{departmentName},  
    inpatient_area = #{inpatientArea},  
    tpatname = #{tpatname},  
    admission_date_time = #{admissionDateTime},  
    admission_number = #{admissionNumber},  
    tpatno = #{tpatno},  
    preliminary_clinical_diagnosis = #{preliminaryClinicalDiagnosis},  
    preliminary_diagnosis_date = #{preliminaryDiagnosisDate},  
    doctor_preliminary_diagnosis = #{doctorPreliminaryDiagnosis},  
    clinical_definite_diagnosis = #{clinicalDefiniteDiagnosis},  
    definite_diagnosis_date = #{definiteDiagnosisDate},  
    doctor_definite_diagnosis = #{doctorDefiniteDiagnosis},  
    hy_present = #{hyPresent},  
    hy_pats = #{hyPats},  
    hy_individual = #{hyIndividual},  
    menstrual_history_sta = #{menstrualHistorySta},  
    by_height = #{byHeight},  
    by_weight = #{byWeight},  
    fat = #{fat},  
    by_surface_area = #{bySurfaceArea},  
    t_ecog_whops = #{tEcogWhops},  
    t_kps = #{tKps},  
    t_nrs = #{tNrs},  
    hy_family = #{hyFamily},  
    physical_exam = #{physicalExam},  
    chief_complaint = #{chiefComplaint},  
    speciality_exam = #{specialityExam},  
    supplementary_exam = #{supplementaryExam},  
    marriage = #{marriage},  
    sex = #{sex},  
    age = #{age},  
    nation = #{nation},  
    occupation = #{occupation},  
    record_time = #{recordTime},  
    medical_history_narrator = #{medicalHistoryNarrator},  
    relationship_between_patient = #{relationshipBetweenPatient},  
    history_of_marr_child = #{historyOfMarrChild},  
    reproductive_history = #{reproductiveHistory},  
    allergy_history = #{allergyHistory},  
    exposure_history = #{exposureHistory},  
    mother_fertile_history = #{motherFertileHistory},  
    correct_diagnosis = #{correctDiagnosis},  
    correct_diagnosis_time = #{correctDiagnosisTime},  
    correct_diagnosis_doctor = #{correctDiagnosisDoctor},  
    sup_diagnosis = #{supDiagnosis},  
    sup_diagnosis_time = #{supDiagnosisTime},  
    sup_diagnosis_doctor = #{supDiagnosisDoctor},  
    record_summary = #{recordSummary},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>