<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.TemOperationRecordMapper">
<select id="findTemOperationRecordByUniqueId"  resultType="com.clinical.model.cluster.TemOperationRecord">
       SELECT * FROM tem_operation_record WHERE unique_id=#{unique_id}
</select>

 <insert id="saveTemOperationRecord"  parameterType="com.clinical.model.cluster.TemOperationRecord" useGeneratedKeys="true" keyProperty="id">
  insert into tem_operation_record(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       VISIT_TYPE,
       DEPARTMENT_NAME,
       INPATIENT_AREA,
       AGE,
       ADMISSION_NUMBER,
       TPATNAME,
       TPATNO,
       SURGERY_SN,
       RCPT_NO,
       OPERATION_TOPIC,
       OPERATION_DETAIL_NOTE,
       SURGICAL_DESCRIPTION,
       SURGICAL_FINDINGS,
       SURGICAL_ACCIDENT,
       SKIN_STERILIZATION_DESCRIPTION,
       IMAGE_NO,
       ITEM_NO,
       ITEM_BEGIN_DATE,
       ITEM_END_DATE,
       ITEM_CODE,
       ITEM_NAME,
       ITEMSPEC,
       ITEM_INCISION_DESCRIPTION,
       PERFORMED_BY,
       BLEEDING_VOLUME,
       TRANSFUSION_VOLUME,
       BLOOD_TRANSFUSION_VOLUME,
       AUTOLOGOUS_VOLUME_BLOOD,
       INTRAOPERATIVE_VOLUME,
       PRE_OPERATIVE_BRIEF_DESCRIPTION,
       SUB_ORDER_NO,
       PRINTED_RCPT_NO,
       ADMINISTRATION,
       NAME_OF_SURGEON,
       NAME_1,
       NAME_2,
       NAME_NUR,
       ANESTHESIA_CODE,
       ANESTHESIA_METHOD,
       ASA_RATING,
       OPERATING_ROOM_NO,
       OPERATING_ROOM,
       PLANNED_SURGERY,
       PLANNED_ANESTHESIA,
       SURGICAL_POSITION,
       MEDICATION_BEFORE_ANES,
       MEDICATION_AT_ANES,
       ANESTHESIA_COMPLICATIONS,
       ANESTHESIOLOGIST,
       DIAG_PREOPERATION,
       DIAG_POSTOPERATION,
       SURGICAL_PROCESS,
       POSTOPERATION_COMPLITE,
       POSTOPERATIVE_ANALGESIA,
       POSTOPERATIVE_DESTINATION,
       POSTOPERATIVE_VISIT,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{visitType},
       #{departmentName},
       #{inpatientArea},
       #{age},
       #{admissionNumber},
       #{tpatname},
       #{tpatno},
       #{surgerySn},
       #{rcptNo},
       #{operationTopic},
       #{operationDetailNote},
       #{surgicalDescription},
       #{surgicalFindings},
       #{surgicalAccident},
       #{skinSterilizationDescription},
       #{imageNo},
       #{itemNo},
       #{itemBeginDate},
       #{itemEndDate},
       #{itemCode},
       #{itemName},
       #{itemspec},
       #{itemIncisionDescription},
       #{performedBy},
       #{bleedingVolume},
       #{transfusionVolume},
       #{bloodTransfusionVolume},
       #{autologousVolumeBlood},
       #{intraoperativeVolume},
       #{preOperativeBriefDescription},
       #{subOrderNo},
       #{printedRcptNo},
       #{administration},
       #{nameOfSurgeon},
       #{name1},
       #{name2},
       #{nameNur},
       #{anesthesiaCode},
       #{anesthesiaMethod},
       #{asaRating},
       #{operatingRoomNo},
       #{operatingRoom},
       #{plannedSurgery},
       #{plannedAnesthesia},
       #{surgicalPosition},
       #{medicationBeforeAnes},
       #{medicationAtAnes},
       #{anesthesiaComplications},
       #{anesthesiologist},
       #{diagPreoperation},
       #{diagPostoperation},
       #{surgicalProcess},
       #{postoperationComplite},
       #{postoperativeAnalgesia},
       #{postoperativeDestination},
       #{postoperativeVisit},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateTemOperationRecord"  parameterType="com.clinical.model.cluster.TemOperationRecord">
      update   tem_operation_record
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    VISIT_TYPE = #{visitType},  
    DEPARTMENT_NAME = #{departmentName},  
    INPATIENT_AREA = #{inpatientArea},  
    AGE = #{age},  
    ADMISSION_NUMBER = #{admissionNumber},  
    TPATNAME = #{tpatname},  
    TPATNO = #{tpatno},  
    SURGERY_SN = #{surgerySn},  
    RCPT_NO = #{rcptNo},  
    OPERATION_TOPIC = #{operationTopic},  
    OPERATION_DETAIL_NOTE = #{operationDetailNote},  
    SURGICAL_DESCRIPTION = #{surgicalDescription},  
    SURGICAL_FINDINGS = #{surgicalFindings},  
    SURGICAL_ACCIDENT = #{surgicalAccident},  
    SKIN_STERILIZATION_DESCRIPTION = #{skinSterilizationDescription},  
    IMAGE_NO = #{imageNo},  
    ITEM_NO = #{itemNo},  
    ITEM_BEGIN_DATE = #{itemBeginDate},  
    ITEM_END_DATE = #{itemEndDate},  
    ITEM_CODE = #{itemCode},  
    ITEM_NAME = #{itemName},  
    ITEMSPEC = #{itemspec},  
    ITEM_INCISION_DESCRIPTION = #{itemIncisionDescription},  
    PERFORMED_BY = #{performedBy},  
    BLEEDING_VOLUME = #{bleedingVolume},  
    TRANSFUSION_VOLUME = #{transfusionVolume},  
    BLOOD_TRANSFUSION_VOLUME = #{bloodTransfusionVolume},  
    AUTOLOGOUS_VOLUME_BLOOD = #{autologousVolumeBlood},  
    INTRAOPERATIVE_VOLUME = #{intraoperativeVolume},  
    PRE_OPERATIVE_BRIEF_DESCRIPTION = #{preOperativeBriefDescription},  
    SUB_ORDER_NO = #{subOrderNo},  
    PRINTED_RCPT_NO = #{printedRcptNo},  
    ADMINISTRATION = #{administration},  
    NAME_OF_SURGEON = #{nameOfSurgeon},  
    NAME_1 = #{name1},  
    NAME_2 = #{name2},  
    NAME_NUR = #{nameNur},  
    ANESTHESIA_CODE = #{anesthesiaCode},  
    ANESTHESIA_METHOD = #{anesthesiaMethod},  
    ASA_RATING = #{asaRating},  
    OPERATING_ROOM_NO = #{operatingRoomNo},  
    OPERATING_ROOM = #{operatingRoom},  
    PLANNED_SURGERY = #{plannedSurgery},  
    PLANNED_ANESTHESIA = #{plannedAnesthesia},  
    SURGICAL_POSITION = #{surgicalPosition},  
    MEDICATION_BEFORE_ANES = #{medicationBeforeAnes},  
    MEDICATION_AT_ANES = #{medicationAtAnes},  
    ANESTHESIA_COMPLICATIONS = #{anesthesiaComplications},  
    ANESTHESIOLOGIST = #{anesthesiologist},  
    DIAG_PREOPERATION = #{diagPreoperation},  
    DIAG_POSTOPERATION = #{diagPostoperation},  
    SURGICAL_PROCESS = #{surgicalProcess},  
    POSTOPERATION_COMPLITE = #{postoperationComplite},  
    POSTOPERATIVE_ANALGESIA = #{postoperativeAnalgesia},  
    POSTOPERATIVE_DESTINATION = #{postoperativeDestination},  
    POSTOPERATIVE_VISIT = #{postoperativeVisit},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>