<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.OperativeComplicationsMapper">
<select id="findOperativeComplicationsByUniqueId"  resultType="com.clinical.model.cluster.OperativeComplications">
       SELECT * FROM operative_complications WHERE unique_id=#{unique_id}
</select>

 <insert id="saveOperativeComplications"  parameterType="com.clinical.model.cluster.OperativeComplications">
  insert into operative_complications(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       fat_liquefaction,
       subcutaneous_effusion,
       incision_hematoma,
       poor_healing_incision,
       incision_infection,
       incision_dehiscence,
       epilepsy,
       neurological_dysfunction,
       disturbance_consciousness,
       drowsiness,
       lethargy,
       coma,
       barriers_consciousness,
       fuzzy_consciousness,
       delirium_state,
       awaking_coma,
       coma_with_eyes_open,
       decortication_syndrome,
       silent_mutism,
       brain_death,
       mydriasis,
       light_disappears,
       high_fever,
       diabetes_insipidus,
       electrolyte_disorder,
       hyponatremia,
       hypernatremia,
       cerebral_hemorrhage,
       gastrointestinal_bleeding,
       cerebrovascular_accident,
       deep_venous_thrombosis,
       pulmonary_embolism,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{fatLiquefaction},
       #{subcutaneousEffusion},
       #{incisionHematoma},
       #{poorHealingIncision},
       #{incisionInfection},
       #{incisionDehiscence},
       #{epilepsy},
       #{neurologicalDysfunction},
       #{disturbanceConsciousness},
       #{drowsiness},
       #{lethargy},
       #{coma},
       #{barriersConsciousness},
       #{fuzzyConsciousness},
       #{deliriumState},
       #{awakingComa},
       #{comaWithEyesOpen},
       #{decorticationSyndrome},
       #{silentMutism},
       #{brainDeath},
       #{mydriasis},
       #{lightDisappears},
       #{highFever},
       #{diabetesInsipidus},
       #{electrolyteDisorder},
       #{hyponatremia},
       #{hypernatremia},
       #{cerebralHemorrhage},
       #{gastrointestinalBleeding},
       #{cerebrovascularAccident},
       #{deepVenousThrombosis},
       #{pulmonaryEmbolism},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateOperativeComplications"  parameterType="com.clinical.model.cluster.OperativeComplications">
      update   operative_complications
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    fat_liquefaction = #{fatLiquefaction},  
    subcutaneous_effusion = #{subcutaneousEffusion},  
    incision_hematoma = #{incisionHematoma},  
    poor_healing_incision = #{poorHealingIncision},  
    incision_infection = #{incisionInfection},  
    incision_dehiscence = #{incisionDehiscence},  
    epilepsy = #{epilepsy},  
    neurological_dysfunction = #{neurologicalDysfunction},  
    disturbance_consciousness = #{disturbanceConsciousness},  
    drowsiness = #{drowsiness},  
    lethargy = #{lethargy},  
    coma = #{coma},  
    barriers_consciousness = #{barriersConsciousness},  
    fuzzy_consciousness = #{fuzzyConsciousness},  
    delirium_state = #{deliriumState},  
    awaking_coma = #{awakingComa},  
    coma_with_eyes_open = #{comaWithEyesOpen},  
    decortication_syndrome = #{decorticationSyndrome},  
    silent_mutism = #{silentMutism},  
    brain_death = #{brainDeath},  
    mydriasis = #{mydriasis},  
    light_disappears = #{lightDisappears},  
    high_fever = #{highFever},  
    diabetes_insipidus = #{diabetesInsipidus},  
    electrolyte_disorder = #{electrolyteDisorder},  
    hyponatremia = #{hyponatremia},  
    hypernatremia = #{hypernatremia},  
    cerebral_hemorrhage = #{cerebralHemorrhage},  
    gastrointestinal_bleeding = #{gastrointestinalBleeding},  
    cerebrovascular_accident = #{cerebrovascularAccident},  
    deep_venous_thrombosis = #{deepVenousThrombosis},  
    pulmonary_embolism = #{pulmonaryEmbolism},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>