<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.TumorPunctureMapper">
<select id="findTumorPunctureByUniqueId"  resultType="com.clinical.model.cluster.TumorPuncture">
       SELECT * FROM tumor_puncture WHERE unique_id=#{unique_id}
</select>

 <insert id="saveTumorPuncture"  parameterType="com.clinical.model.cluster.TumorPuncture">
  insert into tumor_puncture(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       record_time,
       oper_way,
       operation_process,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{recordTime},
       #{operWay},
       #{operationProcess},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateTumorPuncture"  parameterType="com.clinical.model.cluster.TumorPuncture">
      update   tumor_puncture
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    record_time = #{recordTime},  
    oper_way = #{operWay},  
    operation_process = #{operationProcess},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>