<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.CartMapper">
<select id="findCartByUniqueId"  resultType="com.clinical.model.cluster.Cart">
       SELECT * FROM cart WHERE unique_id=#{unique_id}
</select>

 <insert id="saveCart"  parameterType="com.clinical.model.cluster.Cart">
  insert into cart(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       unique_id_lv3,
       cart_time,
       cart_treatment,
       cart_number,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{uniqueIdLv3},
       #{cartTime},
       #{cartTreatment},
       #{cartNumber},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateCart"  parameterType="com.clinical.model.cluster.Cart">
      update   cart
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    unique_id_lv3 = #{uniqueIdLv3},  
    cart_time = #{cartTime},  
    cart_treatment = #{cartTreatment},  
    cart_number = #{cartNumber},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>