<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.StemCellsMapper">
<select id="findStemCellsByUniqueId"  resultType="com.clinical.model.cluster.StemCells">
       SELECT * FROM stem_cells WHERE unique_id=#{unique_id}
</select>

 <insert id="saveStemCells"  parameterType="com.clinical.model.cluster.StemCells">
  insert into stem_cells(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       unique_id_lv3,
       stem_time,
       stem_treatment,
       stem_number,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{uniqueIdLv3},
       #{stemTime},
       #{stemTreatment},
       #{stemNumber},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateStemCells"  parameterType="com.clinical.model.cluster.StemCells">
      update   stem_cells
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    unique_id_lv3 = #{uniqueIdLv3},  
    stem_time = #{stemTime},  
    stem_treatment = #{stemTreatment},  
    stem_number = #{stemNumber},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>