<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.SymptomMapper">
<select id="findSymptomByUniqueId"  resultType="com.clinical.model.cluster.Symptom">
       SELECT * FROM symptom WHERE unique_id=#{unique_id}
</select>

 <insert id="saveSymptom"  parameterType="com.clinical.model.cluster.Symptom">
  insert into symptom(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       appearance,
       nipple_overflow,
       nipple_overflow_site,
       nipple_overflow_hole,
       nipple_overflow_color,
       masses_number,
       mass_nipple_distance,
       relative_position,
       location_quadrant,
       location_in_clock,
       mass_activity,
       mass_chest,
       skin_appearance,
       skin_smoothness,
       lump_pain,
       mass_texture,
       mass_edge,
       areola_edema,
       pain,
       axillary_mass,
       inflammatory_cancer,
       heart_failure,
       other_symptoms,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{appearance},
       #{nippleOverflow},
       #{nippleOverflowSite},
       #{nippleOverflowHole},
       #{nippleOverflowColor},
       #{massesNumber},
       #{massNippleDistance},
       #{relativePosition},
       #{locationQuadrant},
       #{locationInClock},
       #{massActivity},
       #{massChest},
       #{skinAppearance},
       #{skinSmoothness},
       #{lumpPain},
       #{massTexture},
       #{massEdge},
       #{areolaEdema},
       #{pain},
       #{axillaryMass},
       #{inflammatoryCancer},
       #{heartFailure},
       #{otherSymptoms},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateSymptom"  parameterType="com.clinical.model.cluster.Symptom">
      update   symptom
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    appearance = #{appearance},  
    nipple_overflow = #{nippleOverflow},  
    nipple_overflow_site = #{nippleOverflowSite},  
    nipple_overflow_hole = #{nippleOverflowHole},  
    nipple_overflow_color = #{nippleOverflowColor},  
    masses_number = #{massesNumber},  
    mass_nipple_distance = #{massNippleDistance},  
    relative_position = #{relativePosition},  
    location_quadrant = #{locationQuadrant},  
    location_in_clock = #{locationInClock},  
    mass_activity = #{massActivity},  
    mass_chest = #{massChest},  
    skin_appearance = #{skinAppearance},  
    skin_smoothness = #{skinSmoothness},  
    lump_pain = #{lumpPain},  
    mass_texture = #{massTexture},  
    mass_edge = #{massEdge},  
    areola_edema = #{areolaEdema},  
    pain = #{pain},  
    axillary_mass = #{axillaryMass},  
    inflammatory_cancer = #{inflammatoryCancer},  
    heart_failure = #{heartFailure},  
    other_symptoms = #{otherSymptoms},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>