<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.AbdominalMriDesMapper">
<select id="findAbdominalMriDesByUniqueId"  resultType="com.clinical.model.cluster.AbdominalMriDes">
       SELECT * FROM abdominal_mri_des WHERE unique_id=#{unique_id}
</select>

 <insert id="saveAbdominalMriDes"  parameterType="com.clinical.model.cluster.AbdominalMriDes">
  insert into abdominal_mri_des(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       exam_no,
       exam_name,
       structure,
       location,
       lesion,
       size,
       quanity,
       structure_std,
       structure_site_std,
       lesion_std,
       lesion_type_std,
       size_std,
       quantity_std,
       tumor_count,
       tumor_size,
       transfer_count,
       transfer_size,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{examNo},
       #{examName},
       #{structure},
       #{location},
       #{lesion},
       #{size},
       #{quanity},
       #{structureStd},
       #{structureSiteStd},
       #{lesionStd},
       #{lesionTypeStd},
       #{sizeStd},
       #{quantityStd},
       #{tumorCount},
       #{tumorSize},
       #{transferCount},
       #{transferSize},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deleteAbdominalMriDes">
   delete  from abdominal_mri_des where unique_id_lv1  in
     <foreach collection="list" open="(" separator="," close=")" item="uniqueId">
         #{uniqueId}
     </foreach>
  </delete>

 <update id="updateAbdominalMriDes"  parameterType="com.clinical.model.cluster.AbdominalMriDes">
      update   abdominal_mri_des
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    exam_no = #{examNo},  
    exam_name = #{examName},  
    structure = #{structure},  
    location = #{location},  
    lesion = #{lesion},  
    size = #{size},  
    quanity = #{quanity},  
    structure_std = #{structureStd},  
    structure_site_std = #{structureSiteStd},  
    lesion_std = #{lesionStd},  
    lesion_type_std = #{lesionTypeStd},  
    size_std = #{sizeStd},  
    quantity_std = #{quantityStd},  
    tumor_count = #{tumorCount},  
    tumor_size = #{tumorSize},  
    transfer_count = #{transferCount},  
    transfer_size = #{transferSize},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>