<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.AbdominalUsResultMapper">
<select id="findAbdominalUsResultByUniqueId"  resultType="com.clinical.model.cluster.AbdominalUsResult">
       SELECT * FROM abdominal_us_result WHERE unique_id=#{unique_id}
</select>

 <insert id="saveAbdominalUsResult"  parameterType="com.clinical.model.cluster.AbdominalUsResult">
  insert into abdominal_us_result(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       exam_no,
       exam_name,
       tumor,
       recrudescence,
       transfer,
       transfer_site,
       ascites,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{examNo},
       #{examName},
       #{tumor},
       #{recrudescence},
       #{transfer},
       #{transferSite},
       #{ascites},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateAbdominalUsResult"  parameterType="com.clinical.model.cluster.AbdominalUsResult">
      update   abdominal_us_result
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    exam_no = #{examNo},  
    exam_name = #{examName},  
    tumor = #{tumor},  
    recrudescence = #{recrudescence},  
    transfer = #{transfer},  
    transfer_site = #{transferSite},  
    ascites = #{ascites},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>