<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.DiagnosisStageMapper">
<select id="findDiagnosisStageByUniqueId"  resultType="com.clinical.model.cluster.DiagnosisStage">
       SELECT * FROM diagnosis_stage WHERE unique_id=#{unique_id}
</select>

 <insert id="saveDiagnosisStage"  parameterType="com.clinical.model.cluster.DiagnosisStage">
  insert into diagnosis_stage(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       diag_name,
       diag_name_std,
       t_stage,
       n_stage,
       m_stage,
       tnm_stage,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{diagName},
       #{diagNameStd},
       #{tStage},
       #{nStage},
       #{mStage},
       #{tnmStage},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deleteDiagnosisStage">
   delete  from diagnosis_stage where unique_id_lv1   in
     <foreach collection="list" open="(" separator="," close=")" item="uniqueId">
         #{uniqueId}
     </foreach>
  </delete>

 <update id="updateDiagnosisStage"  parameterType="com.clinical.model.cluster.DiagnosisStage">
      update   diagnosis_stage
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    diag_name = #{diagName},  
    diag_name_std = #{diagNameStd},  
    t_stage = #{tStage},  
    n_stage = #{nStage},  
    m_stage = #{mStage},  
    tnm_stage = #{tnmStage},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>