<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.ExamMasterMapper">
<select id="findExamMasterByUniqueId"  resultType="com.clinical.model.cluster.ExamMaster">
       SELECT * FROM exam_master WHERE unique_id=#{unique_id}
</select>

 <insert id="saveExamMaster"  parameterType="com.clinical.model.cluster.ExamMaster">
  insert into exam_master(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       exam_no,
       exam_class,
       clin_symp,
       phys_sign,
       relevant_lab_test,
       relevant_diag,
       clin_diag,
       exam_mode,
       device,
       performed_by,
       patient_source,
       req_date_time,
       req_dept,
       req_physician,
       notice,
       exam_date_time,
       report_date_time,
       exam_position,
       diag_doctor,
       review_doctor,
       entry_name,
       entry_results,
       exam_para,
       description,
       is_abnormal,
       use_image,
       memo,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{examNo},
       #{examClass},
       #{clinSymp},
       #{physSign},
       #{relevantLabTest},
       #{relevantDiag},
       #{clinDiag},
       #{examMode},
       #{device},
       #{performedBy},
       #{patientSource},
       #{reqDateTime},
       #{reqDept},
       #{reqPhysician},
       #{notice},
       #{examDateTime},
       #{reportDateTime},
       #{examPosition},
       #{diagDoctor},
       #{reviewDoctor},
       #{entryName},
       #{entryResults},
       #{examPara},
       #{description},
       #{isAbnormal},
       #{useImage},
       #{memo},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deleteExamMaster">
   delete  from exam_master where unique_id_lv1  in
     <foreach collection="list" open="(" separator="," close=")" item="uniqueId">
         #{uniqueId}
     </foreach>
  </delete>

 <update id="updateExamMaster"  parameterType="com.clinical.model.cluster.ExamMaster">
      update   exam_master
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    exam_no = #{examNo},  
    exam_class = #{examClass},  
    clin_symp = #{clinSymp},  
    phys_sign = #{physSign},  
    relevant_lab_test = #{relevantLabTest},  
    relevant_diag = #{relevantDiag},  
    clin_diag = #{clinDiag},  
    exam_mode = #{examMode},  
    device = #{device},  
    performed_by = #{performedBy},  
    patient_source = #{patientSource},  
    req_date_time = #{reqDateTime},  
    req_dept = #{reqDept},  
    req_physician = #{reqPhysician},  
    notice = #{notice},  
    exam_date_time = #{examDateTime},  
    report_date_time = #{reportDateTime},  
    exam_position = #{examPosition},  
    diag_doctor = #{diagDoctor},  
    review_doctor = #{reviewDoctor},  
    entry_name = #{entryName},  
    entry_results = #{entryResults},  
    exam_para = #{examPara},  
    description = #{description},  
    is_abnormal = #{isAbnormal},  
    use_image = #{useImage},  
    memo = #{memo},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>