<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.HisPastMapper">
<select id="findHisPastByUniqueId"  resultType="com.clinical.model.cluster.HisPast">
       SELECT * FROM his_past WHERE unique_id=#{unique_id}
</select>

 <insert id="saveHisPast"  parameterType="com.clinical.model.cluster.HisPast">
  insert into his_past(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       hypertension,
       glycuresis,
       copd,
       heart_disease,
       hepatitis,
       hepatitis_a,
       hepatitis_b,
       hepatitis_c,
       hepatitis_d,
       hepatitis_e,
       new_hepatitis,
       durg_hepatitis,
       alcoholic_hepatitis,
       Steatohepatitis,
       autoimmune_hepatitis,
       cirrhosis,
       tuberculosis,
       hiv,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{hypertension},
       #{glycuresis},
       #{copd},
       #{heartDisease},
       #{hepatitis},
       #{hepatitisA},
       #{hepatitisB},
       #{hepatitisC},
       #{hepatitisD},
       #{hepatitisE},
       #{newHepatitis},
       #{durgHepatitis},
       #{alcoholicHepatitis},
       #{steatohepatitis},
       #{autoimmuneHepatitis},
       #{cirrhosis},
       #{tuberculosis},
       #{hiv},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deleteHisPast">
   delete  from his_past where unique_id_lv1  in
     <foreach collection="list" open="(" separator="," close=")" item="uniqueId">
         #{uniqueId}
     </foreach>
  </delete>

 <update id="updateHisPast"  parameterType="com.clinical.model.cluster.HisPast">
      update   his_past
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    hypertension = #{hypertension},  
    glycuresis = #{glycuresis},  
    copd = #{copd},  
    heart_disease = #{heartDisease},  
    hepatitis = #{hepatitis},  
    hepatitis_a = #{hepatitisA},  
    hepatitis_b = #{hepatitisB},  
    hepatitis_c = #{hepatitisC},  
    hepatitis_d = #{hepatitisD},  
    hepatitis_e = #{hepatitisE},  
    new_hepatitis = #{newHepatitis},  
    durg_hepatitis = #{durgHepatitis},  
    alcoholic_hepatitis = #{alcoholicHepatitis},  
    Steatohepatitis = #{steatohepatitis},  
    autoimmune_hepatitis = #{autoimmuneHepatitis},  
    cirrhosis = #{cirrhosis},  
    tuberculosis = #{tuberculosis},  
    hiv = #{hiv},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>