<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.IndexPathologyIcdMapper">
<select id="findIndexPathologyIcdByUniqueId"  resultType="com.clinical.model.cluster.IndexPathologyIcd">
       SELECT * FROM index_pathology_icd WHERE unique_id=#{unique_id}
</select>

 <insert id="saveIndexPathologyIcd"  parameterType="com.clinical.model.cluster.IndexPathologyIcd">
  insert into index_pathology_icd(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       pathology_id,
       diagnosis_icdcode,
       diagnosis_icddesc,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{pathologyId},
       #{diagnosisIcdcode},
       #{diagnosisIcddesc},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deleteIndexPathologyIcd">
   delete  from index_pathology_icd where unique_id_lv1  in
     <foreach collection="list" open="(" separator="," close=")" item="uniqueId">
         #{uniqueId}
     </foreach>
  </delete>

 <update id="updateIndexPathologyIcd"  parameterType="com.clinical.model.cluster.IndexPathologyIcd">
      update   index_pathology_icd
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    pathology_id = #{pathologyId},  
    diagnosis_icdcode = #{diagnosisIcdcode},  
    diagnosis_icddesc = #{diagnosisIcddesc},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>