<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.InspectionMapper">
<select id="findInspectionByUniqueId"  resultType="com.clinical.model.cluster.Inspection">
       SELECT * FROM inspection WHERE unique_id=#{unique_id}
</select>

 <insert id="saveInspection"  parameterType="com.clinical.model.cluster.Inspection">
  insert into inspection(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_type,
       visit_id,
       admission_number,
       test_no,
       spcm_type,
       spcm_sample_date_time,
       spcm_received_date_time,
       requested_date_time,
       result_rpt_date_time,
       result_date_time,
       print_order,
       test_package_name,
       test_item_name,
       result,
       units,
       abnormal_indicator,
       reference_interval,
       spcm_type_std,
       test_item_name1_std,
       test_item_name2_std,
       test_item_name3_std,
       test_item_name4_std,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitType},
       #{visitId},
       #{admissionNumber},
       #{testNo},
       #{spcmType},
       #{spcmSampleDateTime},
       #{spcmReceivedDateTime},
       #{requestedDateTime},
       #{resultRptDateTime},
       #{resultDateTime},
       #{printOrder},
       #{testPackageName},
       #{testItemName},
       #{result},
       #{units},
       #{abnormalIndicator},
       #{referenceInterval},
       #{spcmTypeStd},
       #{testItemName1Std},
       #{testItemName2Std},
       #{testItemName3Std},
       #{testItemName4Std},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deleteInspection">
   delete  from inspection where unique_id_lv1  in
     <foreach collection="list" open="(" separator="," close=")" item="uniqueId">
         #{uniqueId}
     </foreach>
  </delete>

 <update id="updateInspection"  parameterType="com.clinical.model.cluster.Inspection">
      update   inspection
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_type = #{visitType},  
    visit_id = #{visitId},  
    admission_number = #{admissionNumber},  
    test_no = #{testNo},  
    spcm_type = #{spcmType},  
    spcm_sample_date_time = #{spcmSampleDateTime},  
    spcm_received_date_time = #{spcmReceivedDateTime},  
    requested_date_time = #{requestedDateTime},  
    result_rpt_date_time = #{resultRptDateTime},  
    result_date_time = #{resultDateTime},  
    print_order = #{printOrder},  
    test_package_name = #{testPackageName},  
    test_item_name = #{testItemName},  
    result = #{result},  
    units = #{units},  
    abnormal_indicator = #{abnormalIndicator},  
    reference_interval = #{referenceInterval},  
    spcm_type_std = #{spcmTypeStd},  
    test_item_name1_std = #{testItemName1Std},  
    test_item_name2_std = #{testItemName2Std},  
    test_item_name3_std = #{testItemName3Std},  
    test_item_name4_std = #{testItemName4Std},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>