<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.OperationComplicationsMapper">
<select id="findOperationComplicationsByUniqueId"  resultType="com.clinical.model.cluster.OperationComplications">
       SELECT * FROM operation_complications WHERE unique_id=#{unique_id}
</select>

 <insert id="saveOperationComplications"  parameterType="com.clinical.model.cluster.OperationComplications">
  insert into operation_complications(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       fat_liquefaction,
       fever,
       infected,
       liver_failure,
       gastrointestinal_bleeding,
       acute_abdomen,
       myasthenia,
       anuria,
       abdominal_infection,
       intraperitoneal_hemorrhage,
       biliary_tract_infection,
       shock,
       constipation,
       liver_dysfunction,
       diarrhea,
       pleural_hemorrhage,
       multiple_organ_failure,
       cerebrovascular_accident,
       stenosis_inferior_vena_cava,
       cholecystitis,
       pleural_effusion,
       renal_failure,
       intestinal_obstruction,
       ascites,
       pulmonary_infection,
       hypoproteinemia,
       pancreatitis,
       pulmonary_embolism,
       pneumothorax,
       grand_mal,
       hepatic_encephalopathy,
       bile_leakage,
       anastomotic_leakage,
       coma,
       delirium,
       vertigo,
       nausea,
       syncope,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{fatLiquefaction},
       #{fever},
       #{infected},
       #{liverFailure},
       #{gastrointestinalBleeding},
       #{acuteAbdomen},
       #{myasthenia},
       #{anuria},
       #{abdominalInfection},
       #{intraperitonealHemorrhage},
       #{biliaryTractInfection},
       #{shock},
       #{constipation},
       #{liverDysfunction},
       #{diarrhea},
       #{pleuralHemorrhage},
       #{multipleOrganFailure},
       #{cerebrovascularAccident},
       #{stenosisInferiorVenaCava},
       #{cholecystitis},
       #{pleuralEffusion},
       #{renalFailure},
       #{intestinalObstruction},
       #{ascites},
       #{pulmonaryInfection},
       #{hypoproteinemia},
       #{pancreatitis},
       #{pulmonaryEmbolism},
       #{pneumothorax},
       #{grandMal},
       #{hepaticEncephalopathy},
       #{bileLeakage},
       #{anastomoticLeakage},
       #{coma},
       #{delirium},
       #{vertigo},
       #{nausea},
       #{syncope},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deleteOperationComplications">
   delete  from operation_complications where unique_id_lv1  in
     <foreach collection="list" open="(" separator="," close=")" item="uniqueId">
         #{uniqueId}
     </foreach>
  </delete>

 <update id="updateOperationComplications"  parameterType="com.clinical.model.cluster.OperationComplications">
      update   operation_complications
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    fat_liquefaction = #{fatLiquefaction},  
    fever = #{fever},  
    infected = #{infected},  
    liver_failure = #{liverFailure},  
    gastrointestinal_bleeding = #{gastrointestinalBleeding},  
    acute_abdomen = #{acuteAbdomen},  
    myasthenia = #{myasthenia},  
    anuria = #{anuria},  
    abdominal_infection = #{abdominalInfection},  
    intraperitoneal_hemorrhage = #{intraperitonealHemorrhage},  
    biliary_tract_infection = #{biliaryTractInfection},  
    shock = #{shock},  
    constipation = #{constipation},  
    liver_dysfunction = #{liverDysfunction},  
    diarrhea = #{diarrhea},  
    pleural_hemorrhage = #{pleuralHemorrhage},  
    multiple_organ_failure = #{multipleOrganFailure},  
    cerebrovascular_accident = #{cerebrovascularAccident},  
    stenosis_inferior_vena_cava = #{stenosisInferiorVenaCava},  
    cholecystitis = #{cholecystitis},  
    pleural_effusion = #{pleuralEffusion},  
    renal_failure = #{renalFailure},  
    intestinal_obstruction = #{intestinalObstruction},  
    ascites = #{ascites},  
    pulmonary_infection = #{pulmonaryInfection},  
    hypoproteinemia = #{hypoproteinemia},  
    pancreatitis = #{pancreatitis},  
    pulmonary_embolism = #{pulmonaryEmbolism},  
    pneumothorax = #{pneumothorax},  
    grand_mal = #{grandMal},  
    hepatic_encephalopathy = #{hepaticEncephalopathy},  
    bile_leakage = #{bileLeakage},  
    anastomotic_leakage = #{anastomoticLeakage},  
    coma = #{coma},  
    delirium = #{delirium},  
    vertigo = #{vertigo},  
    nausea = #{nausea},  
    syncope = #{syncope},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>