<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.OperationRecordMapper">
<select id="findOperationRecordByUniqueId"  resultType="com.clinical.model.cluster.OperationRecord">
       SELECT * FROM operation_record WHERE unique_id=#{unique_id}
</select>

 <insert id="saveOperationRecord"  parameterType="com.clinical.model.cluster.OperationRecord">
  insert into operation_record(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       surgical_process,
       rote,
       rcpt_name,
       robot,
       crossclamp,
       crossclamp_time,
       rcpt_type,
       lymphadenectomy,
       bleeding_volume,
       item_begin_date,
       item_end_date,
       blood_transfusion,
       blood_transfusion_volume,
       input_components,
       input_components_volume,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{surgicalProcess},
       #{rote},
       #{rcptName},
       #{robot},
       #{crossclamp},
       #{crossclampTime},
       #{rcptType},
       #{lymphadenectomy},
       #{bleedingVolume},
       #{itemBeginDate},
       #{itemEndDate},
       #{bloodTransfusion},
       #{bloodTransfusionVolume},
       #{inputComponents},
       #{inputComponentsVolume},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateOperationRecord"  parameterType="com.clinical.model.cluster.OperationRecord">
      update   operation_record
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    surgical_process = #{surgicalProcess},  
    rote = #{rote},  
    rcpt_name = #{rcptName},  
    robot = #{robot},  
    crossclamp = #{crossclamp},  
    crossclamp_time = #{crossclampTime},  
    rcpt_type = #{rcptType},  
    lymphadenectomy = #{lymphadenectomy},  
    bleeding_volume = #{bleedingVolume},  
    item_begin_date = #{itemBeginDate},  
    item_end_date = #{itemEndDate},  
    blood_transfusion = #{bloodTransfusion},  
    blood_transfusion_volume = #{bloodTransfusionVolume},  
    input_components = #{inputComponents},  
    input_components_volume = #{inputComponentsVolume},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>