<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.OperationComplicationsMapper">
<select id="findOperationComplicationsByUniqueId"  resultType="com.clinical.model.cluster.OperationComplications">
       SELECT * FROM operation_complications WHERE unique_id=#{unique_id}
</select>

 <insert id="saveOperationComplications"  parameterType="com.clinical.model.cluster.OperationComplications">
  insert into operation_complications(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       fat_liquefaction,
       scalp_hydrops,
       incision_hematoma,
       poor_wound_healing,
       incision_infection,
       wound_disruption,
       stoma_fistula,
       anal_fistula,
       intestinal_fistula,
       duodenal_stump_fistula,
       lymph_leakage,
       pancreatic_fistula,
       abdominal_bleeding,
       in_alimentary_bleeding,
       ops_damage_bleeding,
       splenorrhagia,
       pancreas_bleeding,
       liver_bleeding,
       enterorrhagid,
       nephrorrhagia,
       anastomotic_leakage,
       anastomotic_bleeding,
       anastomotic_stenosis,
       ascites,
       abdominal_abscess,
       abdominal_infection,
       intestinal_obstruction,
       remnant_gastritis,
       gastroparesis,
       bulbar_duodenitis,
       pancreatitis,
       hepatitis,
       cholecystitis,
       pneumonia,
       pleural_effusion,
       hepatic_failure,
       renal_failure,
       cardiovascular_accident,
       deep_venous_thrombosis,
       pulmonary_embolism,
       complication_date,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{fatLiquefaction},
       #{scalpHydrops},
       #{incisionHematoma},
       #{poorWoundHealing},
       #{incisionInfection},
       #{woundDisruption},
       #{stomaFistula},
       #{analFistula},
       #{intestinalFistula},
       #{duodenalStumpFistula},
       #{lymphLeakage},
       #{pancreaticFistula},
       #{abdominalBleeding},
       #{inAlimentaryBleeding},
       #{opsDamageBleeding},
       #{splenorrhagia},
       #{pancreasBleeding},
       #{liverBleeding},
       #{enterorrhagid},
       #{nephrorrhagia},
       #{anastomoticLeakage},
       #{anastomoticBleeding},
       #{anastomoticStenosis},
       #{ascites},
       #{abdominalAbscess},
       #{abdominalInfection},
       #{intestinalObstruction},
       #{remnantGastritis},
       #{gastroparesis},
       #{bulbarDuodenitis},
       #{pancreatitis},
       #{hepatitis},
       #{cholecystitis},
       #{pneumonia},
       #{pleuralEffusion},
       #{hepaticFailure},
       #{renalFailure},
       #{cardiovascularAccident},
       #{deepVenousThrombosis},
       #{pulmonaryEmbolism},
       #{complicationDate},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateOperationComplications"  parameterType="com.clinical.model.cluster.OperationComplications">
      update   operation_complications
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    fat_liquefaction = #{fatLiquefaction},  
    scalp_hydrops = #{scalpHydrops},  
    incision_hematoma = #{incisionHematoma},  
    poor_wound_healing = #{poorWoundHealing},  
    incision_infection = #{incisionInfection},  
    wound_disruption = #{woundDisruption},  
    stoma_fistula = #{stomaFistula},  
    anal_fistula = #{analFistula},  
    intestinal_fistula = #{intestinalFistula},  
    duodenal_stump_fistula = #{duodenalStumpFistula},  
    lymph_leakage = #{lymphLeakage},  
    pancreatic_fistula = #{pancreaticFistula},  
    abdominal_bleeding = #{abdominalBleeding},  
    in_alimentary_bleeding = #{inAlimentaryBleeding},  
    ops_damage_bleeding = #{opsDamageBleeding},  
    splenorrhagia = #{splenorrhagia},  
    pancreas_bleeding = #{pancreasBleeding},  
    liver_bleeding = #{liverBleeding},  
    enterorrhagid = #{enterorrhagid},  
    nephrorrhagia = #{nephrorrhagia},  
    anastomotic_leakage = #{anastomoticLeakage},  
    anastomotic_bleeding = #{anastomoticBleeding},  
    anastomotic_stenosis = #{anastomoticStenosis},  
    ascites = #{ascites},  
    abdominal_abscess = #{abdominalAbscess},  
    abdominal_infection = #{abdominalInfection},  
    intestinal_obstruction = #{intestinalObstruction},  
    remnant_gastritis = #{remnantGastritis},  
    gastroparesis = #{gastroparesis},  
    bulbar_duodenitis = #{bulbarDuodenitis},  
    pancreatitis = #{pancreatitis},  
    hepatitis = #{hepatitis},  
    cholecystitis = #{cholecystitis},  
    pneumonia = #{pneumonia},  
    pleural_effusion = #{pleuralEffusion},  
    hepatic_failure = #{hepaticFailure},  
    renal_failure = #{renalFailure},  
    cardiovascular_accident = #{cardiovascularAccident},  
    deep_venous_thrombosis = #{deepVenousThrombosis},  
    pulmonary_embolism = #{pulmonaryEmbolism},  
    complication_date = #{complicationDate},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>