<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.PathologicalMapper">
<select id="findPathologicalByUniqueId"  resultType="com.clinical.model.cluster.Pathological">
       SELECT * FROM pathological WHERE unique_id=#{unique_id}
</select>

 <insert id="savePathological"  parameterType="com.clinical.model.cluster.Pathological">
  insert into pathological(       unique_id,
       unique_id_lv1,
       unique_id_lv2,
       p900,
       patient_id,
       visit_id,
       pathology_no,
       inspect_time,
       reprot_time,
       origin,
       differentiation_degree,
       tumor_thrombus,
       invade_bile_duct,
       vascular_invasion,
       nerve_invasion,
       incisal_margin,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{uniqueId},
       #{uniqueIdLv1},
       #{uniqueIdLv2},
       #{p900},
       #{patientId},
       #{visitId},
       #{pathologyNo},
       #{inspectTime},
       #{reprotTime},
       #{origin},
       #{differentiationDegree},
       #{tumorThrombus},
       #{invadeBileDuct},
       #{vascularInvasion},
       #{nerveInvasion},
       #{incisalMargin},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>

 <delete id="deletePathological">
   delete  from pathological where unique_id_lv1  in
     <foreach collection="list" open="(" separator="," close=")" item="uniqueId">
         #{uniqueId}
     </foreach>
  </delete>

 <update id="updatePathological"  parameterType="com.clinical.model.cluster.Pathological">
      update   pathological
 set
    unique_id = #{uniqueId},  
    unique_id_lv1 = #{uniqueIdLv1},  
    unique_id_lv2 = #{uniqueIdLv2},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    pathology_no = #{pathologyNo},  
    inspect_time = #{inspectTime},  
    reprot_time = #{reprotTime},  
    origin = #{origin},  
    differentiation_degree = #{differentiationDegree},  
    tumor_thrombus = #{tumorThrombus},  
    invade_bile_duct = #{invadeBileDuct},  
    vascular_invasion = #{vascularInvasion},  
    nerve_invasion = #{nerveInvasion},  
    incisal_margin = #{incisalMargin},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>