<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.master.ZjNeckMrDescriptionMapper">
<select id="findZjNeckMrDescriptionByUniqueId"  resultType="com.clinical.model.master.NECK_MR_DESCRIPTION">
       SELECT * FROM NECK_MR_DESCRIPTION WHERE unique_id_lv2 = #{unique_id_lv2}
</select>

</mapper>