<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.ChemotherapyDrugMapper">
<select id="findChemotherapyDrugByUniqueId"  resultType="com.clinical.model.cluster.ChemotherapyDrug">
       SELECT * FROM chemotherapy_drug WHERE unique_id=#{unique_id}
</select>

 <insert id="saveChemotherapyDrug"  parameterType="com.clinical.model.cluster.ChemotherapyDrug">
  insert into chemotherapy_drug(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       unique_id_lv3,
       chem_drug,
       chem_single_dose,
       chem_single_dose_unit,
       chem_frequency,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{uniqueIdLv3},
       #{chemDrug},
       #{chemSingleDose},
       #{chemSingleDoseUnit},
       #{chemFrequency},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateChemotherapyDrug"  parameterType="com.clinical.model.cluster.ChemotherapyDrug">
      update   chemotherapy_drug
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    unique_id_lv3 = #{uniqueIdLv3},  
    chem_drug = #{chemDrug},  
    chem_single_dose = #{chemSingleDose},  
    chem_single_dose_unit = #{chemSingleDoseUnit},  
    chem_frequency = #{chemFrequency},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>