<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.HisMarriageMapper">
<select id="findHisMarriageByUniqueId"  resultType="com.clinical.model.cluster.HisMarriage">
       SELECT * FROM his_marriage WHERE unique_id=#{unique_id}
</select>

 <insert id="saveHisMarriage"  parameterType="com.clinical.model.cluster.HisMarriage">
  insert into his_marriage(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       menstrual_age,
       menstrual_bleeding,
       menstrual_cycle,
       menstrual_regularity,
       oral_contraceptives,
       pregnancies_number,
       premature_birth_number,
       abortions_number,
       normal_birth_number,
       production_times,
       ivf,
       birth_history,
       menopause,
       last_menstruation,
       menopause_age,
       marriage_age,
       sex_begin,
       sexual_partners,
       cervical_cancer_vaccine,
       vaccine_name,
       vaccine_time,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{menstrualAge},
       #{menstrualBleeding},
       #{menstrualCycle},
       #{menstrualRegularity},
       #{oralContraceptives},
       #{pregnanciesNumber},
       #{prematureBirthNumber},
       #{abortionsNumber},
       #{normalBirthNumber},
       #{productionTimes},
       #{ivf},
       #{birthHistory},
       #{menopause},
       #{lastMenstruation},
       #{menopauseAge},
       #{marriageAge},
       #{sexBegin},
       #{sexualPartners},
       #{cervicalCancerVaccine},
       #{vaccineName},
       #{vaccineTime},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateHisMarriage"  parameterType="com.clinical.model.cluster.HisMarriage">
      update   his_marriage
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    menstrual_age = #{menstrualAge},  
    menstrual_bleeding = #{menstrualBleeding},  
    menstrual_cycle = #{menstrualCycle},  
    menstrual_regularity = #{menstrualRegularity},  
    oral_contraceptives = #{oralContraceptives},  
    pregnancies_number = #{pregnanciesNumber},  
    premature_birth_number = #{prematureBirthNumber},  
    abortions_number = #{abortionsNumber},  
    normal_birth_number = #{normalBirthNumber},  
    production_times = #{productionTimes},  
    ivf = #{ivf},  
    birth_history = #{birthHistory},  
    menopause = #{menopause},  
    last_menstruation = #{lastMenstruation},  
    menopause_age = #{menopauseAge},  
    marriage_age = #{marriageAge},  
    sex_begin = #{sexBegin},  
    sexual_partners = #{sexualPartners},  
    cervical_cancer_vaccine = #{cervicalCancerVaccine},  
    vaccine_name = #{vaccineName},  
    vaccine_time = #{vaccineTime},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>