<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clinical.dao.cluster.HisPastMapper">
<select id="findHisPastByUniqueId"  resultType="com.clinical.model.cluster.HisPast">
       SELECT * FROM his_past WHERE unique_id=#{unique_id}
</select>

 <insert id="saveHisPast"  parameterType="com.clinical.model.cluster.HisPast">
  insert into his_past(       person_id,
       unique_id,
       p900,
       patient_id,
       visit_id,
       hypertension,
       hypertension_drug,
       glycuresis,
       glycuresis_drug,
       copd,
       thyroid,
       heart_disease,
       heart_disease_drug,
       chronic_anemia,
       rheumatic_fever,
       blood_fat,
       blood_fat_drug,
       chronic_kidney,
       hepatitis_b,
       hepatitis_b_drug,
       hcv,
       hcv_drug,
       tuberculosis,
       tuberculosis_drug,
       hiv,
       hiv_treatment,
       breast_diseases,
       rheumatic_diseases,
       trauma,
       data_version,
       data_db_source,
       data_table_source,
       data_field_source,
       created_at,
       creator,
       updated_at)
values
(       #{personId},
       #{uniqueId},
       #{p900},
       #{patientId},
       #{visitId},
       #{hypertension},
       #{hypertensionDrug},
       #{glycuresis},
       #{glycuresisDrug},
       #{copd},
       #{thyroid},
       #{heartDisease},
       #{heartDiseaseDrug},
       #{chronicAnemia},
       #{rheumaticFever},
       #{bloodFat},
       #{bloodFatDrug},
       #{chronicKidney},
       #{hepatitisB},
       #{hepatitisBDrug},
       #{hcv},
       #{hcvDrug},
       #{tuberculosis},
       #{tuberculosisDrug},
       #{hiv},
       #{hivTreatment},
       #{breastDiseases},
       #{rheumaticDiseases},
       #{trauma},
       #{dataVersion},
       #{dataDbSource},
       #{dataTableSource},
       #{dataFieldSource},
       #{createdAt},
       #{creator},
       #{updatedAt})
</insert>
 <update id="updateHisPast"  parameterType="com.clinical.model.cluster.HisPast">
      update   his_past
 set
    person_id = #{personId},  
    unique_id = #{uniqueId},  
    p900 = #{p900},  
    patient_id = #{patientId},  
    visit_id = #{visitId},  
    hypertension = #{hypertension},  
    hypertension_drug = #{hypertensionDrug},  
    glycuresis = #{glycuresis},  
    glycuresis_drug = #{glycuresisDrug},  
    copd = #{copd},  
    thyroid = #{thyroid},  
    heart_disease = #{heartDisease},  
    heart_disease_drug = #{heartDiseaseDrug},  
    chronic_anemia = #{chronicAnemia},  
    rheumatic_fever = #{rheumaticFever},  
    blood_fat = #{bloodFat},  
    blood_fat_drug = #{bloodFatDrug},  
    chronic_kidney = #{chronicKidney},  
    hepatitis_b = #{hepatitisB},  
    hepatitis_b_drug = #{hepatitisBDrug},  
    hcv = #{hcv},  
    hcv_drug = #{hcvDrug},  
    tuberculosis = #{tuberculosis},  
    tuberculosis_drug = #{tuberculosisDrug},  
    hiv = #{hiv},  
    hiv_treatment = #{hivTreatment},  
    breast_diseases = #{breastDiseases},  
    rheumatic_diseases = #{rheumaticDiseases},  
    trauma = #{trauma},  
    data_version = #{dataVersion},  
    data_db_source = #{dataDbSource},  
    data_table_source = #{dataTableSource},  
    data_field_source = #{dataFieldSource},  
    created_at = #{createdAt},  
    creator = #{creator},  
    updated_at = #{updatedAt}
   where id = #{id}
</update>
</mapper>